//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = 'page'
    - var selectedMenu = 'Nos références'
    - var selectedSubMenu = 'Actifs immobiliers'

append body
    section.heading
        .hero-content
            .hero-inner
                hgroup
                    h1 Actifs immobiliers
                .c-breadcrumb
                    .row.expanded
                        .columns
                            .label vous êtes ici  :
                            ul.c-breadcrumb__list
                                li
                                    a(href='/') Accueil
                                li Actifs immobiliers
        .hero-second-illus
            .hero-bg(style="background:url(/assets/media/images/uploads/2018/02/visuel-references.jpg); background-size:cover; background-position:50%")
    section.page-content
        .row
            .large-12.medium-12.small-12
                .portfolio-search-engine
                    form(action="" method="POST" class="js-to-validate")
                        fieldset
                            div.form-title
                                span Filtrer par
                            .field.select-form
                                label(for="metiers") Métiers
                                select(name='metiers' id='metiers')
                                    option(selected='selected', value='0') Tous
                                    option(value='asset-management') Asset management
                                    option(value='facility-management') Facility management
                                    option(value='project-management') Project management
                                    option(value='property-management-gestion-immobiliere-et-animation-commerciale') Property management - Gestion immobilière et animation commerciale
                                    option(value='property-management-gestion-locative') Property management - Gestion locative
                                    option(value='property-management-syndic-de-copropriete') Property management - Syndic de copropriété
                            .field.select-form
                                label(for="metiers") Villes
                                select(name='villes')
                                    option(selected='selected', value='0') Toutes les villes
                                    option(value='casablanca') Casablanca
                                    option(value='dar-bouazza') Dar Bouazza
                                    option(value='marrakech') Marrakech
                                    option(value='mohammedia') Mohammedia
                                    option(value='rabat') Rabat
                                    option(value='sale') Salé
                            .field.submit-form
                                button(type="submit" name="")
                                    span Chercher

        .row
            .large-12.medium-12.small-12
                .portfolio-content
                    .row.expanded
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2016/12/Crystal-1-300x225.jpg);')
                                    .desc
                                        h2 Tour Crystal I – Marina
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Gestion locative
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/chellah_logo.png', alt='Tour Crystal I – MarinaCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2016/12/les_orangeraies-680x440-300x194.jpg);')
                                    .desc
                                        h2 Les Orangeraies du Souissi
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Rabat
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Syndic de copropriété
                                            .brand-item
                                                span.catname.label
                                                    img(src='/assets/media/images/uploads/2017/01/Logo-Orangeraie-du-Souissi.png', alt='Les Orangeraies du SouissiRabat')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2016/12/abdlmoumen-680x440-300x194.jpg);')
                                    .desc
                                        h2 Immeuble Abdelmounem
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/clientlogo13-gray.png', alt='Immeuble AbdelmounemCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2016/12/Bur-Philips-680x440-300x194.jpg);')
                                    .desc
                                        h2 Bureaux Marina
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/Sans-titre-2.jpg', alt='Bureaux MarinaCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2016/12/zenithC1-300x199.jpg);')
                                    .desc
                                        h2 Immeuble Zenith C1
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Rabat
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/clientlogo14-gray.png', alt='Immeuble Zenith C1Rabat')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2016/12/oumniprise-680x440-300x194.jpg);')
                                    .desc
                                        h2 Immeuble Omniprise
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Rabat
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/clientlogo13-gray.png', alt='Immeuble OmnipriseRabat')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2016/12/20160119_173947-680x440-300x194.jpg);')
                                    .desc
                                        h2 Quick Agdal
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Rabat
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Asset management
                                                    a(href='') Facility management
                                                    a(href='') Project management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/Sans-titre-695651.jpg', alt='Quick AgdalRabat')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/dar-bouazza-300x245.jpg);')
                                    .desc
                                        h2 Les Jardins de l’Océan
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Dar Bouazza
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Syndic de copropriété
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2017/01/LOgo-Jardins-de-lOcéan.png', alt='Les Jardins de l’OcéanDar Bouazza')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/marina-300x201.jpg);')
                                    .desc
                                        h2 Marina Morocco
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Salé
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Syndic de copropriété
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2017/01/lamarina.jpg', alt='Marina MoroccoSalé')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/riadandalous-300x129.jpg);')
                                    .desc
                                        h2 Résidence Riad Al Andalouss
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Rabat
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Syndic de copropriété
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2017/01/Riad-Al-Andalouss.png', alt='Résidence Riad Al AndaloussRabat')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/residence-galeria-300x228.jpg);')
                                    .desc
                                        h2 Résidence Galeria
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Syndic de copropriété
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2017/01/Galeria.png', alt='Résidence GaleriaCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/casa-port-300x172.jpg);')
                                    .desc
                                        h2 Gare de Casa-Port
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Gestion immobilière et animation commerciale
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/clientlogo11-gray.png', alt='Gare de Casa-PortCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/gare-marrakech-300x199.jpg);')
                                    .desc
                                        h2 Gare de Marrakech
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Marrakech
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Gestion immobilière et animation commerciale
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/clientlogo11-gray.png', alt='Gare de MarrakechMarrakech')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/4gares-300x231.jpg);')
                                    .desc
                                        h2 Gare Ain Sebaa, Casa voyageurs, Oasis, Aéroport Med V
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Gestion immobilière et animation commerciale
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/clientlogo11-gray.png', alt='Gare Ain Sebaa, Casa voyageurs, Oasis, Aéroport Med VCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/2gares-300x235.jpg);')
                                    .desc
                                        h2 Gare de Salé Ville et Salé Tabriquet
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Salé
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Gestion immobilière et animation commerciale
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/clientlogo11-gray.png', alt='Gare de Salé Ville et Salé TabriquetSalé')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/gare-mohemadia-300x231.jpg);')
                                    .desc
                                        h2 Gare Mohammedia
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Mohammedia
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Gestion immobilière et animation commerciale
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/clientlogo11-gray.png', alt='Gare MohammediaMohammedia')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/masen-300x154.jpg);')
                                    .desc
                                        h2 MASEN
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Rabat
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2017/01/masen_logo.jpg', alt='MASENRabat')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2016/12/immeuble-contempo-300x209.jpg);')
                                    .desc
                                        h2 Immeuble Contempo
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility managementProperty management
                                                    a(href='')  Gestion locative
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/amundi.png', alt='Immeuble ContempoCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2016/12/immeuble-atrium-300x222.jpg);')
                                    .desc
                                        h2 Immeuble Atrium
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility managementProperty management
                                                    a(href='')  Gestion locative
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/amundi.png', alt='Immeuble AtriumCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/tertia1-228x300.jpg);')
                                    .desc
                                        h2 Immeuble Roudani
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/clientlogo13-gray.png', alt='Immeuble RoudaniCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/immeuble-masurel-300x232.jpg);')
                                    .desc
                                        h2 Immeuble Masurel
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility managementProject managementProperty management
                                                    a(href='')  Gestion locative
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/janin.png', alt='Immeuble MasurelCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/rosalide-207x300.jpg);')
                                    .desc
                                        h2 Immeuble Rosalide
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility managementProject management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/afma.png', alt='Immeuble RosalideCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/quick-casa-300x172.jpg);')
                                    .desc
                                        h2 Quick Maarif
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Asset management
                                                    a(href='') Facility management
                                                    a(href='') Project management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/Sans-titre-695651.jpg', alt='Quick MaarifCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/quick-gueliz-300x260.jpg);')
                                    .desc
                                        h2 Quick Guéliz
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Marrakech
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Asset management
                                                    a(href='') Facility management
                                                    a(href='') Project management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/Sans-titre-695651.jpg', alt='Quick GuélizMarrakech')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2016/12/1ImmeubleJEANNECasablanca-300x194.jpg);')
                                    .desc
                                        h2 Immeuble Jeanne
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility managementProject management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/afma.png', alt='Immeuble JeanneCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/1mazaya-300x169.jpg);')
                                    .desc
                                        h2 Mazaya
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Rabat
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Project management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2017/01/fondation-tenor.jpg', alt='MazayaRabat')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/ecole-nationale-musique-225x300.jpg);')
                                    .desc
                                        h2 École Internationale de Musique et de Danse
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Rabat
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Project management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2017/01/ecole-musique.jpg', alt='École Internationale de Musique et de DanseRabat')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/ecole-nationale-musique-casa-225x300.jpg);')
                                    .desc
                                        h2 École Internationale de Musique et de Danse
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Project management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2017/01/ecole-musique.jpg', alt='École Internationale de Musique et de DanseCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/Ivoire-2-229x300.jpg);')
                                    .desc
                                        h2 Immeuble Ivoire II
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/sdcc-150x150.jpg', alt='Immeuble Ivoire IICasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/01/Immeuble-City-Park-1.png);')
                                    .desc
                                        h2 City Park
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Asset management
                                            .brand-item
                                                span.catname.label
                                                    img(src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2017/01/Ténor-Immobilier.png', alt='City ParkCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/02/suncity-300x225.jpeg);')
                                    .desc
                                        h2 Résidences Sun City
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Rabat
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Syndic de copropriété
                                            .brand-item
                                                span.catname.label
                                                    img(src='/assets/media/images/uploads/2017/02/sunCity-300x131.png', alt='Résidences Sun CityRabat')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/03/Immeuble-92-44-300x212.jpg);')
                                    .desc
                                        h2 Immeuble Anfa 92
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Gestion locative
                                            .brand-item
                                                span.catname.label
                                                    img(src='/assets/media/images/uploads/2017/03/FONCIERE-EMERGENCE-300x51.png', alt='Immeuble Anfa 92Casablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/04/xFiat-FCA-Morocco-MotorVillage-Casablanca.jpg.pagespeed.ic_.j_R0I_coms-300x153.jpg);')
                                    .desc
                                        h2 Bouskoura Business Parc (MotorVillage Casablanca)
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility management
                                            .brand-item
                                                span.catname.label
                                                    img(src='/assets/media/images/uploads/2017/04/LOGO-FCA-300x155.jpg', alt='Bouskoura Business Parc (MotorVillage Casablanca)Casablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/05/Les-allées-marines-300x180.jpg);')
                                    .desc
                                        h2 Résidence Les Allées Marines
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Syndic de copropriété
                                            .brand-item
                                                span.catname.label
                                                    img(src='/assets/media/images/uploads/2017/05/logo-les-alles-marines-1-300x84.jpg', alt='Résidence Les Allées MarinesCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/05/MAADEN-1-300x149.jpg);')
                                    .desc
                                        h2 AL MAADEN GOLF RESORT
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Marrakech
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Syndic de copropriété
                                            .brand-item
                                                span.catname.label
                                                    img(src='/assets/media/images/uploads/2017/05/LOGO-AL-MAADEN.jpg', alt='AL MAADEN GOLF RESORTMarrakech')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/07/Place-des-Zaers-300x150.jpg);')
                                    .desc
                                        h2 Place des Zaers
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Rabat
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Syndic de copropriété
                                            .brand-item
                                                span.catname.label
                                                    img(src='/assets/media/images/uploads/2017/07/logo-place-des-zaers.png', alt='Place des ZaersRabat')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/11/TGR-300x199.jpg);')
                                    .desc
                                        h2 Trésorerie Générale du Royaume
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Rabat
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility management
                                            .brand-item
                                                span.catname.label
                                                    img(src='/assets/media/images/uploads/2017/11/TGR-LOGO.jpg', alt='Trésorerie Générale du RoyaumeRabat')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/11/SalesForce-acceuil-300x200.jpg);')
                                    .desc
                                        h2 Bureaux Marina
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility management
                                            .brand-item
                                                span.catname.label
                                                    img(src='/assets/media/images/uploads/2017/11/SALES-FORCE-LOGO.png', alt='Bureaux MarinaCasablanca')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/11/VERT-MARINE-2-300x205.png);')
                                    .desc
                                        h2 Vert Marine GH1
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Dar Bouazza
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Property management
                                                    a(href='')  Syndic de copropriété
                                            .brand-item
                                                span.catname.label
                                                    img(src='/assets/media/images/uploads/2017/11/logo-vert-marine.jpg', alt='Vert Marine GH1Dar Bouazza')
                                                span.catname Logo
                        .large-4.medium-4.small-12.column
                            .card-portfolio
                                div
                                    .viewer(style='background-image:url(/assets/media/images/uploads/2017/11/BUR-SAGE-300x225.jpg);')
                                    .desc
                                        h2 Bureaux Marina
                                        div
                                            .city-item
                                                span.catname Ville:
                                                span.catname.label Casablanca
                                            .missions-item
                                                span.catname Mission:
                                                span.catname.label
                                                    a(href='') Facility management
                                            .brand-item
                                                span.catname.label
                                                    img(src='/assets/media/images/uploads/2017/11/logo-SAGE-300x114.png', alt='Bureaux MarinaCasablanca')
                                                span.catname Logo



