//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = 'page'
    - var selectedMenu = 'Nos Métiers'
    - var selectedSubMenu = 'Asset Management'

append body
    section.heading
        .hero-content
            .hero-inner
                hgroup
                    h1 Asset Management
                .c-breadcrumb
                    .row.expanded
                        .columns
                            .label vous êtes ici  :
                            ul.c-breadcrumb__list
                                li
                                    a(href='/') Accueil
                                li Asset Management
        .hero-second-illus
                .hero-bg(style="background:url(/assets/media/images/uploads/2016/12/1-asset-management.jpg); background-size:cover; background-position:0%")
    section.page-content
        .row
                .large-12.medium-12.small-12.column
                    .desc
                        p THAÏS élabore des schémas directeurs afin d’optimiser la performance financière de vos actifs (rendement, plus-value, etc.).
                        p <strong>Notre offre d’Asset Management comprend</strong>:
                    .list-view
                        .row
                            .large-4.medium-4.small-12.column
                                h2
                                    span Définition et implémentation de la stratégie d’investissement ;
                            .large-4.medium-4.small-12.column
                                h2
                                    span Conseil dans l’optimisation et la valorisation d’un patrimoine immobilier ;
                            .large-4.medium-4.small-12.column
                                h2
                                    span Assistance dans la restructuration technique et environnementale d’actifs.

        .row
            article.offer-value
                h2 Notre valeur ajoutée
                div
                    p Vous pouvez compter sur une équipe possédant une forte expertise dans les différents métiers de l’immobilier et intégrant les dernières évolutions réglementaires, techniques et environnementales.
                    p Vous bénéficiez d’une valorisation de vos actifs en ligne avec la stratégie initiale et du contrôle régulier des risques.
            .cta-to-references
                a(href="nos-references.html" title="Voir nos références") Voir nos références
