//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = 'page'
    - var selectedMenu = 'Nos références'
    - var selectedSubMenu = 'Clients'

append body
    section.heading
        .hero-content
            .hero-inner
                hgroup
                    h1 Nos clients
                .c-breadcrumb
                    .row.expanded
                        .columns
                            .label vous êtes ici  :
                            ul.c-breadcrumb__list
                                li
                                    a(href='/') Accueil
                                li Nos clients
        .hero-second-illus
                .hero-bg(style="background:url(/assets/media/images/uploads/2018/02/visuel-references.jpg); background-size:cover; background-position:50%")
    section.page-content
        .row.expanded
            .clients
                .section-content
                    .row.expanded
                        .logo-grid.large-12.medium-12.small-12.column
                            .logo-grid-item
                                .logo-grid-inner
                                    a(href='http://www.oncf.ma/Pages/Accueil.aspx', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2016/12/oncf.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.philips.co.in/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2016/12/philips.jpg', alt='')
                                .logo-grid-inner
                                    a(href='https://www.sahamassurance.ma/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2016/12/saham.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.afma.ma/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2016/12/afma.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.cdg.ma/fr/filiales/liste/240', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2016/12/almanar.jpg', alt='')
                                .logo-grid-inner
                                    a(href='https://www.amundi.fr/?nr=1', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2016/12/amundi.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.sorec.ma/fr/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2016/12/sorec.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.foncierechellah.ma/projet/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2016/12/foncierechellah.jpg', alt='')
                                .logo-grid-inner
                                    a(href='https://www.quick.fr/fr', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2016/12/quick.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://sdcc.ma/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2016/12/sdcc.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.anouar-almostakbal.ma/fr/anwar-developpement', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/Galeria.png', alt='')
                                .logo-grid-inner
                                    a(href='http://www.synchronism.com/EIMD/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/ecolnenat.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.em-lyon.com/en', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/emlyon.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.ftc.ma/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/fondation-tenor-culture.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.kenzamall.in/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/kenzamall.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.accolade-center.com/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/accolade.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.lamarinamorocco.com/en/?utm_source=Google&utm_medium=Google%20Search&utm_content=mor_lamarinamorocco_textad_en&utm_campaign=Emaar_Eagle%20Hills_Lead%20Generation_July2016&gclid=Cj0KEQiAqdLDBRDD-b2sv6-i6MsBEiQAkT3wAnRe04I0xHlt0FYjq9FIbWh6r4WFsBO1WNNgRWw9gd8aAgMk8P8HAQ', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/lamarina.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.masen.ma/fr/masen/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/masen1.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://palmeraieluxuryliving.ma/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/LOgo-Jardins-de-lOcéan.png', alt='')
                                .logo-grid-inner
                                    a(href='http://www.prestigia-morocco.com/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/Riad-Al-Andalouss.png', alt='')
                                .logo-grid-inner
                                    a(href='http://www.sage.ma/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/sage.jpg', alt='')
                                .logo-grid-inner
                                    a(href='https://www.salesforce.com/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/salesforce-1.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.somed.ma/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/Logo-Orangeraie-du-Souissi.png', alt='')
                                .logo-grid-inner
                                    a(href='http://www.tenorgroup.ma/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/tenordistrub.jpg', alt='')
                                .logo-grid-inner
                                    a(href='http://www.tenorgroup.ma/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/tenor-restau.jpg', alt='')
                                .logo-grid-inner
                                    a(href='undefined', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/societejeanne.jpg', alt='')
                                .logo-grid-inner
                                    a(href='undefined', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/lasamir.jpg', alt='')
                                .logo-grid-inner
                                    a(href='/', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/01/Ténor-Immobilier.png', alt='')
                                .logo-grid-inner
                                    a(href='undefined', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/02/sunCity.png', alt='')
                                .logo-grid-inner
                                    a(href='undefined', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/03/FONCIERE-EMERGENCE.png', alt='')
                                .logo-grid-inner
                                    a(href='undefined', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/04/LOGO-FCA.jpg', alt='')
                                .logo-grid-inner
                                    a(href='undefined', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/05/logo-les-alles-marines-1.jpg', alt='')
                                .logo-grid-inner
                                    a(href='undefined', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/05/LOGO-AL-MAADEN.jpg', alt='')
                                .logo-grid-inner
                                    a(href='undefined', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/07/logo-place-des-zaers.png', alt='')
                                .logo-grid-inner
                                    a(href='undefined', target='_blank', title='')
                                        img(src='http://thais.ma/wp-content/uploads/2017/11/TGR-LOGO.jpg', alt='')



