//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = 'page'
    - var selectedMenu = 'Nous contacter'
    - var selectedSubMenu = ''

append body
    section.heading
        .hero-content
            .hero-inner
                hgroup
                    h1 Nous contacter
                .c-breadcrumb
                    .row.expanded
                        .columns
                            .label vous êtes ici  :
                            ul.c-breadcrumb__list
                                li
                                    a(href='/') Accueil
                                li Nous contacter
        .hero-second-illus
                .hero-bg(style="background:url(/assets/media/images/uploads/2018/02/visuel-contact.jpg); background-size:cover; background-position:50%")
    section.page-content
        .row
                .large-6.medium-6.small-12.column
                    h2 Formulaire de contact
                    div.form-contact
                        form(action="" method="POST")
                            fieldset
                                .wizard-form-fields
                                    .row
                                        .field.large-6.medium-6.small-12.column
                                            label(for="name" class="required") Nom
                                            input(type="text" id="name" name="name" value="" size="60" maxlength="255" class="form-text required" required="required" aria-required="true")
                                        .field.large-6.medium-6.small-12.column
                                            label(for="prenom" class="required") Prénom
                                            input(type="text" id="prenom" name="prenom" value="" size="60" maxlength="255" class="form-text required" required="email required" aria-required="true")
                                        .field.large-6.medium-6.small-12.column
                                            label(for="societe" class="required") Société
                                            input(type="text" id="societe" name="societe" value="" size="60" maxlength="255" class="form-text required" required="required" aria-required="true")
                                        .field.large-6.medium-6.small-12.column
                                            label(for="fonction" class="required") Fonction
                                            input(type="text" id="function" name="fonction" value="" size="60" maxlength="255" class="form-text required" required="required" aria-required="true")
                                        .field.large-6.medium-12.small-12.column
                                            label(for="telephpne" class="equired") Téléphone
                                            input(type="tel" id="telephpne" name="telephpne" value="" size="60" maxlength="255" class="form-tel required number" required="required" aria-required="true")
                                        .field.large-6.medium-12.small-12.column
                                            label(for="email" class="equired") Mail
                                            input(type="text" id="email" name="email" value="" size="60" maxlength="255" class="form-email required" required="email required" aria-required="true")
                                        .field.textarea.large-12.medium-12.small-12.column
                                            label(for="project-description" class="required") Description du projet
                                            textarea(id="project-description" name="project_description" rows="5" cols="60" class="form-textarea required resize-vertical" required="required" aria-required="true")
                                        .field.form-submit.large-12.medium-12.small-12.column
                                            button(type="submit")
                                                span Envoyer
                .large-6.medium-6.small-12.column
                    h2 Coordonnées
                    .contact-info
                        div
                            i.c-fsik__icon--marker
                            span
                                | CITY PARK CENTER – Porte 4
                                br
                                | 106, rue Abderrahmane Sahraoui 20070 <br>Casablanca – Maroc
                        div
                            i.c-fsik__icon--tel
                            span +212 5 22 77 70 80
                        div
                            i.c-fsik__icon--fax
                            span +212 5 22 77 74 37
                        div
                            i.c-fsik__icon--mail
                            span contact@thais.ma

                    h2 Localisation
                    #gmap.map