//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = 'page'
    - var selectedMenu = 'Nos Métiers'
    - var selectedSubMenu = 'Facility Management'

append body
    section.heading
        .hero-content
            .hero-inner
                hgroup
                    h1 Facility Management
                .c-breadcrumb
                    .row.expanded
                        .columns
                            .label vous êtes ici  :
                            ul.c-breadcrumb__list
                                li
                                    a(href='/') Accueil
                                li Facility Management
        .hero-second-illus
            .hero-bg(style="background:url(/assets/media/images/uploads/2016/12/black-engineer-drawing.jpg); background-size:cover; background-position:0%")
    section.page-content
        .row
            .large-12.medium-12.small-12.column
                .desc
                    p Notre expérience et la variété des secteurs et sites, dans lesquels nous opérons, nous permettent d’enrichir nos offres.
                    p <strong>Ainsi vous choisissez l’étendue des services que vous souhaitez nous confier :</strong>
                .list-view
                    .row
                        .large-4.medium-4.small-12.column
                            h2
                                span Maintenance multi technique;
                        .large-4.medium-4.small-12.column
                            h2
                                span Nettoyage;
                        .large-4.medium-4.small-12.column
                            h2
                                span Gardiennage;
                        .large-4.medium-4.small-12.column
                            h2
                                span Entretien des espaces verts;
                        .large-4.medium-4.small-12.column
                            h2
                                span Accueil;
                        .large-4.medium-4.small-12.column
                            h2
                                span Services aux occupants.;

        .row
            article.offer-value
                h2 Notre valeur ajoutée
                div
                    p THAÏS est indépendant vis-à-vis des prestataires de services et peut ainsi jouer pleinement son rôle d’interlocuteur unique.
                    p Vous bénéficiez ainsi d’une optimisation de la qualité de service, d’un contrôle strict des interventions et des coûts ainsi que d’une gestion homogène sur sites multiples.
            .cta-to-references
                a(href="nos-references.html" title="Voir nos références") Voir nos références