//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = ''
    - var selectedMenu = 'Accueil'

append body
    section.intro
        .section-wrapper
            .section-content
                .row.expanded
                    .columns
                        #progress
                        .swiper-container.js-swiper-hp-intro
                            .swiper-wrapper
                                div.swiper-slide
                                    div.swiper-lazy.visu.lazy(data-src='/assets/media/images/sliders/hp/1-votre-immobilier.jpg' data-original='/assets/media/images/sliders/hp/1-votre-immobilier.jpg' style=" background-size:cover; background-position:50%")
                                        .sik-loader.swiper-lazy-preloader
                                            .largeBox
                                            .smallBox
                                    .inner-side
                                        h1
                                            span
                                                img(src='/assets/media/images/logo-thais.svg' alt='THAÏS')
                                            | Votre immobilier, notre métier.
                                div.swiper-slide
                                    div.visu.lazy.swiper-lazy(data-src='/assets/media/images/sliders/hp/bilan-de-competence.jpg' data-original='/assets/media/images/sliders/hp/bilan-de-competence.jpg' style=" background-size:cover; background-position:50%")
                                        .sik-loader.swiper-lazy-preloader
                                            .largeBox
                                            .smallBox
                                    .inner-side
                                        h1
                                            span Compétence
                                            | S’acquitter de nos tâches avec professionnalisme, excellence, efficience et objectivité.
                                div.swiper-slide
                                    div.swiper-lazy.visu.lazy(data-src='/assets/media/images/sliders/hp/responsabilite.jpg' data-original='/assets/media/images/sliders/hp/responsabilite.jpg' style=" background-size:cover; background-position:50%")
                                        .sik-loader.swiper-lazy-preloader
                                            .largeBox
                                            .smallBox
                                    .inner-side
                                        h1
                                            span Responsabilité
                                            |Attacher autant d’importance à la façon d’atteindre les résultats qu’aux résultats eux-mêmes.

                                div.swiper-slide
                                    div.swiper-lazy.visu.lazy(data-src='/assets/media/images/sliders/hp/1-transparence.jpg' data-original='/assets/media/images/sliders/hp/1-transparence.jpg' style=" background-size:cover; background-position:50%")
                                        .sik-loader.swiper-lazy-preloader
                                            .largeBox
                                            .smallBox
                                    .inner-side
                                        h1
                                            span Transparence
                                            | Agir dans tout ce que nous faisons avec honnêteté, sincérité, équité et intégrité.
                                div.swiper-slide
                                    div.swiper-lazy.visu.lazy(data-src='/assets/media/images/sliders/hp/1-objectivite.jpg' data-original='/assets/media/images/sliders/hp/1-objectivite.jpg' style=" background-size:cover; background-position:50%")
                                        .sik-loader.swiper-lazy-preloader
                                            .largeBox
                                            .smallBox
                                    .inner-side
                                        h1
                                            span Pragmatisme
                                            |Apporter une vision stratégique, rigoureuse, structurée et réaliste à chaque projet.

                        .swiper-pagination
    section.what-we-do
        .section-content
            .row
                .large-12.medium-12.small-12.column
                    .title
                        h1 Nos métiers
                .large-3.medium-3.small-12.column
                    article
                        div
                            span.icon
                                i.c-fsik__icon--assetmanagement
                            h2 Asset Management
                            p Optimiser la performance financière de vos actifs immobiliers par la définition de la stratégie d’investissement et le conseil dans la valorisation du patrimoine immobilier.
                        .cta-post
                            a.btn-link(href="") Détails
                .large-3.medium-3.small-12.column
                    article
                        div
                            span.icon
                                i.c-fsik__icon--propertymanagement
                            h2 Property Management
                            p Valoriser vos actifs immobiliers confiés en gestion locative ou syndic de copropriété dans une démarche permettant l’optimisation des flux de trésorerie et la maitrise des coûts.
                        .cta-post
                            a.btn-link(href="") Détails
                .large-3.medium-3.small-12.column
                    article
                        div
                            span.icon
                                .c-fsik__icon--facilitymanagement
                            h2 Facility Management
                            p Pérenniser vos actifs immobiliers en assurant la maintenance des équipements techniques et la mise en place des prestations multiservices.
                        .cta-post
                            a.btn-link(href="") Détails
                .large-3.medium-3.small-12.column
                    article
                        div
                            span.icon
                                .c-fsik__icon--projectmanagement
                            h2 Project Management
                            p Accompagner vos projets de construction et d’aménagement à travers des missions d’assistance à maitrise d’ouvrage, maitrise d’ouvrage déléguée et contrat clé en main.
                        .cta-post
                            a.btn-link(href="") Détails
    section.latest-news
        .section-content
            .row.expected
                .large-12.medium-12.small-12.column
                    .title
                        h1 Notre Actualité
            .swiper-news
                .swiper-container.main-slider.loading
                    .swiper-wrapper
                        .swiper-slide
                            figure.slide-bgimg.lazy.swiper-lazy(data-src='/assets/media/images/uploads/2017/11/VERT-MARINE-2.jpg' data-original='/assets/media/images/uploads/2017/11/VERT-MARINE-2.jpg'  style='background-image:url(/assets/media/images/uploads/2017/11/VERT-MARINE-2.jpg)')
                                img.entity-img.lazy.swiper-lazy(data-src='/assets/media/images/uploads/2017/11/VERT-MARINE-2.jpg' data-original='/assets/media/images/uploads/2017/11/VERT-MARINE-2.jpg' src='/assets/media/images/uploads/2017/11/VERT-MARINE-2.jpg')
                            .content
                                h2.title Vert Marine GH1
                                span.caption.animated
                                    | Le syndicat des copropriétaires de la résidence « Vert Marine GH1» à Dar Bouaza a retenu THAÏS pour la mission de syndic de copropriété. La première tranche comprend 84 appartements répartis sur 8 immeubles.
                                div.cta.animated
                                    a.btn-link(href="") En savoir plus
                        .swiper-slide
                            figure.slide-bgimg.lazy.swiper-lazy(data-src='/assets/media/images/uploads/2017/11/BUR-SAGE.jpg' data-original='/assets/media/images/uploads/2017/11/BUR-SAGE.jpg')
                                img.entity-img.lazy.swiper-lazy(data-src='/assets/media/images/uploads/2017/11/BUR-SAGE.jpg' data-original='/assets/media/images/uploads/2017/11/BUR-SAGE.jpg' src='/assets/media/images/uploads/2017/11/BUR-SAGE.jpg')
                            .content
                                h2.title SAGE Maroc
                                span.caption.animated
                                    | SAGE Maroc confie à THAÏS le facility management de ses plateaux de bureaux à Casablanca Marina.
                                div.cta.animated
                                    a.btn-link(href="") En savoir plus
                        .swiper-slide
                            figure.slide-bgimg.lazy.swiper-lazy(data-src='/assets/media/images/uploads/2017/11/TGR.jpg' data-original='/assets/media/images/uploads/2017/11/TGR.jpg')
                                img.entity-img.lazy.swiper-lazy(data-src='/assets/media/images/uploads/2017/11/TGR.jpg' data-original='/assets/media/images/uploads/2017/11/TGR.jpg' src='/assets/media/images/uploads/2017/11/TGR.jpg')
                            .content
                                h2.title Trésorerie Générale du Royaume
                                span.caption.animated
                                    | THAÏS remporte l’appel d’offres relatif à la maintenance multi techniques des équipements installés dans les bâtiments relevant de la Trésorerie Générale du Royaume.
                                div.cta.animated
                                    a.btn-link(href="") En savoir plus
                        .swiper-slide
                            figure.slide-bgimg.lazy.swiper-lazy(data-src='/assets/media/images/uploads/2017/11/SalesForce-acceuil.jpg' data-original='/assets/media/images/uploads/2017/11/SalesForce-acceuil.jpg')
                                img.entity-img.lazy.swiper-lazy(data-src='/assets/media/images/uploads/2017/11/SalesForce-acceuil.jpg' data-original='/assets/media/images/uploads/2017/11/SalesForce-acceuil.jpg' src='/assets/media/images/uploads/2017/11/SalesForce-acceuil.jpg')
                            .content
                                h2.title SALES FORCE
                                span.caption.animated
                                    | SALES FORCE Maroc confie à THAÏS le facility management de ses plateaux de bureaux à Casablanca Marina.
                                div.cta.animated
                                    a.btn-link(href="") En savoir plus
                        
                    // If we need navigation buttons
                    .swiper-button-prev.swiper-button-white
                    .swiper-button-next.swiper-button-white
                // Thumbnail navigation
                .swiper-container.nav-slider.loading
                    .swiper-wrapper
                        .swiper-slide
                            figure.slide-bgimg(style='background-image:url(/assets/media/images/uploads/2017/11/VERT-MARINE-2.jpg)')
                                img.entity-img(src='/assets/media/images/uploads/2017/11/VERT-MARINE-2.jpg')
                            .content
                                h2.title Vert Marine GH1
                        .swiper-slide
                            figure.slide-bgimg(style='background-image:url(/assets/media/images/uploads/2017/11/BUR-SAGE.jpg)')
                                img.entity-img(src='/assets/media/images/uploads/2017/11/BUR-SAGE.jpg')
                            .content
                                h2.title SAGE Maroc
                        .swiper-slide
                            figure.slide-bgimg(style='background-image:url(/assets/media/images/uploads/2017/11/TGR.jpg)')
                                img.entity-img(src='/assets/media/images/uploads/2017/11/TGR.jpg')
                            .content
                                h2.title Trésorerie Générale du Royaume
                        .swiper-slide
                            figure.slide-bgimg(style='background-image:url(/assets/media/images/uploads/2017/11/SalesForce-acceuil.jpg)')
                                img.entity-img(src='/assets/media/images/uploads/2017/11/SalesForce-acceuil.jpg')
                            .content
                                h2.title SALES FORCE
    section.clients
        .section-content
            .row.expanded
                .large-12.medium-12.small-12.column
                    .title
                        h1 Nos clients
                .logo-grid.large-12.medium-12.small-12.column
                    .logo-grid-item
                        .logo-grid-inner
                            a(href='http://www.oncf.ma/Pages/Accueil.aspx', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2016/12/oncf.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.philips.co.in/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2016/12/philips.jpg', alt='')
                        .logo-grid-inner
                            a(href='https://www.sahamassurance.ma/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2016/12/saham.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.afma.ma/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2016/12/afma.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.cdg.ma/fr/filiales/liste/240', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2016/12/almanar.jpg', alt='')
                        .logo-grid-inner
                            a(href='https://www.amundi.fr/?nr=1', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2016/12/amundi.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.sorec.ma/fr/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2016/12/sorec.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.foncierechellah.ma/projet/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2016/12/foncierechellah.jpg', alt='')
                        .logo-grid-inner
                            a(href='https://www.quick.fr/fr', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2016/12/quick.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://sdcc.ma/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2016/12/sdcc.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.anouar-almostakbal.ma/fr/anwar-developpement', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/Galeria.png', alt='')
                        .logo-grid-inner
                            a(href='http://www.synchronism.com/EIMD/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/ecolnenat.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.em-lyon.com/en', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/emlyon.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.ftc.ma/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/fondation-tenor-culture.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.kenzamall.in/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/kenzamall.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.accolade-center.com/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/accolade.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.lamarinamorocco.com/en/?utm_source=Google&utm_medium=Google%20Search&utm_content=mor_lamarinamorocco_textad_en&utm_campaign=Emaar_Eagle%20Hills_Lead%20Generation_July2016&gclid=Cj0KEQiAqdLDBRDD-b2sv6-i6MsBEiQAkT3wAnRe04I0xHlt0FYjq9FIbWh6r4WFsBO1WNNgRWw9gd8aAgMk8P8HAQ', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/lamarina.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.masen.ma/fr/masen/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/masen1.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://palmeraieluxuryliving.ma/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/LOgo-Jardins-de-lOcéan.png', alt='')
                        .logo-grid-inner
                            a(href='http://www.prestigia-morocco.com/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/Riad-Al-Andalouss.png', alt='')
                        .logo-grid-inner
                            a(href='http://www.sage.ma/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/sage.jpg', alt='')
                        .logo-grid-inner
                            a(href='https://www.salesforce.com/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/salesforce-1.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.somed.ma/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/Logo-Orangeraie-du-Souissi.png', alt='')
                        .logo-grid-inner
                            a(href='http://www.tenorgroup.ma/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/tenordistrub.jpg', alt='')
                        .logo-grid-inner
                            a(href='http://www.tenorgroup.ma/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/tenor-restau.jpg', alt='')
                        .logo-grid-inner
                            a(href='undefined', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/societejeanne.jpg', alt='')
                        .logo-grid-inner
                            a(href='undefined', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/lasamir.jpg', alt='')
                        .logo-grid-inner
                            a(href='/', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/01/Ténor-Immobilier.png', alt='')
                        .logo-grid-inner
                            a(href='undefined', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/02/sunCity.png', alt='')
                        .logo-grid-inner
                            a(href='undefined', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/03/FONCIERE-EMERGENCE.png', alt='')
                        .logo-grid-inner
                            a(href='undefined', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/04/LOGO-FCA.jpg', alt='')
                        .logo-grid-inner
                            a(href='undefined', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/05/logo-les-alles-marines-1.jpg', alt='')
                        .logo-grid-inner
                            a(href='undefined', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/05/LOGO-AL-MAADEN.jpg', alt='')
                        .logo-grid-inner
                            a(href='undefined', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/07/logo-place-des-zaers.png', alt='')
                        .logo-grid-inner
                            a(href='undefined', target='_blank', title='')
                                img(src='/assets/media/images/uploads/2017/11/TGR-LOGO.jpg', alt='')
    section.abouts(style="display:none")
        .section-content
            .row
                    .large-12.medium-12.small-12.column
                        .aboutContent
                            .title
                                h1 A PROPOS DU PCA
                            p  Payment Center for Africa accompagne les établissements de crédit (banques, sociétés de crédit, institutions de microfinance) ainsi que les opérateurs télécom et régis dans :
                            ul
                                li Le processing des transactions électroniques et particulièrement les transactions monétiques et digitales ;
                                li La gestion en mode Outsourcing totale ou partielle du Back-office monétique et digitale ;
                                li Le développement et l’intégration des solutions E-Banking, M-Banking et M-Payment.
                    .large-4.medium-4.small-12.column
                        .card-countUp
                            div
                                span.js-countUp.countNumber 4
                                span.labelCount Milions
                                h2 Cartes monétiques
                    .large-4.medium-4.small-12.column
                        .card-countUp
                            div
                                span.js-countUp.countNumber 2
                                span.labelCount Millions
                                h2 Clients Mobile & Internet
                    .large-4.medium-4.small-12.column
                        .card-countUp
                            div
                                span.js-countUp.countNumber 200
                                span.labelCount Milions
                                h2 Demande d'autorisation traitées par an
                    .large-4.medium-4.small-12.column
                        .card-countUp
                            div
                                span.js-countUp.countNumber 2000
                                h2 Automates raccordés à PCA
                    .large-4.medium-4.small-12.column
                        .card-countUp
                            div
                                span.js-countUp.countNumber 500
                                span.labelCount Mille
                                h2 Cartes monétiques
                    .large-4.medium-4.small-12.column
                        .card-countUp
                            div
                                span.js-countUp.countNumber 23
                                span.labelCount Mille
                                h2 Transactions par minute en période de pic
                    .large-4.medium-4.small-12.column
                        .card-countUp
                            div
                                span.js-countUp.countNumber 6000
                                h2 Utilisateurs connectés à PCA