//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = 'job'
    - var selectedMenu = ''
    - var selectedSubMenu = ''

append body
    section.heading
        .hero-content
            .hero-inner
                hgroup
                    h1 Faire carrière chez
                        span(style="display:inline-block; max-width:160px; padding-left:10px")
                            img(src='/assets/media/images/logo-thais.svg' alt='THAÏS')
                .c-breadcrumb
                    .row.expanded
                        .columns
                            .label vous êtes ici  :
                            ul.c-breadcrumb__list
                                li
                                    a(href='/') Accueil
                                li Faire carrière chez THAÏS
        .hero-second-illus
                .hero-bg(style="background:url(/assets/media/images/uploads/2018/03/visu-job.jpg); background-size:cover; background-position:center 100%")
    section.page-content
        .row
                .large-12.medium-12.small-12.column
                    .job-wrapper
                        ul.job-lists
                            li
                                .job-item
                                    article
                                        .row
                                            .large-2.medium-2.small-12.column
                                                span.label.hide Titre
                                                h2 Responsable de site
                                            .large-2.medium-2.small-12.column
                                                span.label.hide Ville
                                                span.city-name Casablanca, Rabat, Marrakech
                                            .large-12.medium-12.small-12.column.hide.js-toggle-content
                                                .toggle-content
                                                    span.label.hide Mission :
                                                    dl
                                                        dt Gestion technique :
                                                        dd Négociation, passation, suivi des marchés des prestataires
                                                        dd Gestion des travaux d’entretien et de maintenance
                                                        dt Gestion administrative et juridique :
                                                        dd Tenue des assemblées générales et suivi des dossiers en contentieux
                                                        dd Élaboration et envoi de l’ensemble des documents relatifs aux AG
                                                        dt Gestion financière :
                                                        dd Tenue de la comptabilité de la copropriété & établissement du budget
                                                        dd Appel des provisions
                                                        dd Paiement des factures
                                            .large-4.medium-4.small-12.column
                                                span.label.hide profile
                                                span.profil-desc
                                                    em Bac+5 en ingénierie et/ou management
                                                    em 3 ans d’expérience dans l’immobilier
                                            .large-4.medium-4.small-12.column
                                                .cta
                                                    a(href="" class="js-toggle-post") <span>Plus de détails</span><span>Moins de détails</span>
                                                    a(href="") Postuler maintenant

                            li
                                .job-item
                                    article
                                        .row
                                            .large-2.medium-2.small-12.column
                                                span.label.hide Titre
                                                h2 Facility Managers seniors
                                            .large-2.medium-2.small-12.column
                                                span.label.hide Ville
                                                span.city-name Casablanca
                                            .large-12.medium-12.small-12.column.hide.js-toggle-content
                                                .toggle-content
                                                    span.label.hide Mission :
                                                    p Dans le cadre de son développement, THAÏS recherche des Facility Managers seniors pour le pilotage de la maintenance multi-techniques et les prestations multi-services sur de actifs immobiliers tertiaires à Casablanca.
                                            .large-4.medium-4.small-12.column
                                                span.label.hide profile
                                                span.profil-desc
                                                    em Bac+5 en ingénierie et/ou management
                                                    em 3 ans d’expérience dans l’immobilier
                                            .large-4.medium-4.small-12.column
                                                .cta
                                                    a(href="" class="js-toggle-post") <span>Plus de détails</span><span>Moins de détails</span>
                                                    a(href="") Postuler maintenant



        .row.expanded
            .large-12.medium-12.small-12
                div.condidature-wraper
                    .desc
                        h2 à la recherche d’un emploi
                        p Rejoignez-nous en postant directement sur notre site et essayez d'intégrer une équipe dynamique et efficace!
                    .cta
                        a(href="")
                            span Candidature spontanée

