//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = 'page'
    - var selectedMenu = 'Qui sommes nous?'
    - var selectedSubMenu = 'Group'

append body
    section.heading
        .hero-content
            .hero-inner
                hgroup
                    h1 Le groupe
                .c-breadcrumb
                    .row.expanded
                        .columns
                            .label vous êtes ici  :
                            ul.c-breadcrumb__list
                                li
                                    a(href='/') Accueil
                                li Le groupe
        .hero-second-illus
            .hero-bg.lazy(data-src='/assets/media/images/uploads/2018/02/visuel-group-3.jpg' data-original='/assets/media/images/uploads/2018/02/visuel-group-3.jpg' style="background-size:cover; background-position:50%")
    section.page-content
        .row
                .large-3.medium-3.small-12.column
                    figure
                        img(src="/assets/media/images/uploads/2018/02/tenorgroup-president.png" alt="Mohammed Farid BENSAÏD")
                    .caption
                        span.name Mohammed Farid BENSAÏD
                        span.function-tile Président
                .large-9.medium-9.small-12.column
                    .desc
                        p <strong>Ténor Group</strong>, Holding fondée en 1995 par <strong>M. Mohammed Farid Bensaïd</strong> dont il est le Président, intervient principalement dans le domaine des services à valeur ajoutée orientés <strong>B2B</strong> et <strong>B2C</strong>.
                        p Actif dans des secteurs essentiels de <strong>l’économie marocaine</strong>, le groupe est ainsi présent dans les métiers de <span><strong>l’assurance, la distribution, le nearshoring, l’immobilier, les nouvelles technologies, la location de véhicules, le commerce électronique, ou encore la restauration</strong></span>.

                        p Outre ces activités, <strong>Ténor Group</strong> détient également des participations importantes dans les secteurs des médias et de l’enseignement.

                        p Le groupe génère un chiffre d’affaires de plus de <strong>2 milliards de dirhams</strong>.


        .row.expanded
            figure.company-map
                img(src="/assets/media/images/uploads/2016/12/org-chart-thais.png" alt="tenor group organigrame")
