//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = 'page'
    - var selectedMenu = 'Qui sommes nous?'
    - var selectedSubMenu = 'L\'entreprise'

append body
    section.heading
        .hero-content
            .hero-inner
                hgroup
                    h1 L'entreprise
                .c-breadcrumb
                    .row.expanded
                        .columns
                            .label vous êtes ici  :
                            ul.c-breadcrumb__list
                                li
                                    a(href='/') Accueil
                                li L'entreprise
        .hero-second-illus
                .hero-bg(style="background:url(/assets/media/images/uploads/2018/02/visuel-entreprise.jpg); background-size:cover; background-position:0%")
    section.page-content
        .row
                .large-12.medium-12.small-12.column
                    .desc
                        p THAÏS est une société filiale de Ténor Group, logée au sein du pôle services immobiliers, dirigée depuis sa création en 2009 par Badr El Yacoubi.
                        p Spécialisée dans la gestion immobilière, THAÏS peut se targuer d’une riche et longue expérience qui lui permet de répondre à l’ensemble des problématiques de ses clients par des offres flexibles, adaptées et modulables.
                        p THAÏS compte aujourd’hui parmi ses principaux clients des  propriétaires, des investisseurs, utilisateurs et des syndicats de copropriétaires pour la gestion de bureaux, parcs d’activité, espaces commerciaux et ensembles résidentiels.
        .biography-text
            .row
                .large-3.medium-3.small-12.column
                    figure
                        img(src="/assets/media/images/uploads/2018/02/badr-el-yacoubi.jpg" alt="Badr EL YACOUBI")
                    .caption
                        span.name Badr EL YACOUBI
                        span.function-tile Directeur Général


                .large-9.medium-9.small-12.column
                            .desc
                                p Badr EL YACOUBI a fait toute sa carrière professionnelle dans l’immobilier qu’il a débuté en France au sein de Coteba Immobilier services.

                                p Il rentre au Maroc en 2005 pour intégrer la CGI au poste de Chef de Projet puis rejoint en 2007 Actif Invest en tant qu’Asset Manager.

                                p En 2009, il crée au sein de Ténor Group le pôle services immobiliers avec Property Solutions, société spécialisée en conseil, évaluation immobilière et transaction, puis THAÏS en 2011.

                                p Ingénieur diplômé de l’ESTP Paris et titulaire d’un DESS CAAE-MBA à l’IAE de Paris, Badr EL YACOUBI est également diplômé de l’ICH et membre de la RICS. Il est par ailleurs enseignant en master Management de l’immobilier de Paris Dauphine et Président de l’association marocaine de l’expertise immobilière.


