//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = 'page'
    - var selectedMenu = 'Nos Métiers'
    - var selectedSubMenu = 'Project Management'

append body
    section.heading
        .hero-content
            .hero-inner
                hgroup
                    h1 Project Management
                .c-breadcrumb
                    .row.expanded
                        .columns
                            .label vous êtes ici  :
                            ul.c-breadcrumb__list
                                li
                                    a(href='/') Accueil
                                li Project Management
        .hero-second-illus
            .hero-bg(style="background:url(/assets/media/images/uploads/2016/12/project-management-stok.jpg); background-size:cover; background-position:0%")
    section.page-content
        .row
            .large-12.medium-12.small-12.column
                .desc
                    p Pour répondre aux enjeux stratégiques, humains, économiques ou organisationnels de votre projet, THAÏS vous propose une offre de service complète afin que votre projet d’aménagement aboutisse et que vos espaces de travail contribuent au bien-être de vos salariés, à la rentabilité de votre activité et à l’image de votre entreprise à travers les missions suivantes :
                .list-view
                    .row
                        .large-4.medium-4.small-12.column
                            h2
                                span Assistance à la maîtrise d’ouvrage;
                        .large-4.medium-4.small-12.column
                            h2
                                span Maitrise d’ouvrage déléguée;
                        .large-4.medium-4.small-12.column
                            h2
                                span Contrat clé en main;
                .desc
                    p Ainsi nous intervenons aux niveaux de :

                .list-view
                    .row
                        .large-3.medium-3.small-12.column
                            h2
                                span L’agencement;
                        .large-3.medium-3.small-12.column
                            h2
                                span La réalisation du cahier des charges;
                        .large-3.medium-3.small-12.column
                            h2
                                span La budgétisation;
                        .large-3.medium-3.small-12.column
                            h2
                                span Le pilotage de projet.

        .row
            article.offer-value
                h2 Notre valeur ajoutée
                div
                    p THAÏS est indépendant vis-à-vis des prestataires de services et peut ainsi jouer pleinement son rôle d’interlocuteur unique.
                    p Vous bénéficiez ainsi d’une optimisation de la qualité de service, d’un contrôle strict des interventions et des coûts ainsi que d’une gestion homogène sur sites multiples.
            .cta-to-references
                a(href="nos-references.html" title="Voir nos références") Voir nos références