//- layout
extends layouts/_default

//- settings
append vars
    - var pageTitle = ''
    - var pageClass = 'page'
    - var selectedMenu = 'Nos Métiers'
    - var selectedSubMenu = 'Property Management'

append body
    section.heading
        .hero-content
            .hero-inner
                hgroup
                    h1 Property Management
                .c-breadcrumb
                    .row.expanded
                        .columns
                            .label vous êtes ici  :
                            ul.c-breadcrumb__list
                                li
                                    a(href='/') Accueil
                                li Property Management
        .hero-second-illus
                .hero-bg(style="background:url(/assets/media/images/uploads/2016/12/1-proprety-management.jpg); background-size:cover; background-position:0%")
    section.page-content
        .row
                .large-12.medium-12.small-12.column
                    .desc
                        h2 Gestion locative
                        p A travers la gestion locative, nous ciblons l’optimisation du rendement financier tout en répondant au besoin évolutif des occupants.
                        p Très attentifs et disponibles, nos gestionnaires immobiliers veillent à anticiper les problèmes par des solutions préventives et entretiennent une bonne communication.
                        p Nous gérons l’administration de vos baux et la relation avec vos locataires en mettant à votre service des compétences :
                        h3 Juridiques
                        p Nous assurons pour vous le contrôle de la bonne exécution des obligations légales, réglementaires et contractuelles, la vérification de l’obtention des autorisations et agréments, la conformité des travaux au regard du règlement intérieur, ainsi que la gestion des litiges, les procédures de recouvrement et cession du droit au bail.
                        h3 Comptables
                        p Nous gérons pour vous la facturation et le recouvrement des sommes dues : avis d’échéance de loyer, surloyer, redevances, suivi des paiements, comptabilité et gestion financière de la trésorerie, recouvrement des loyers et délivrance des quittances, indexation des loyers, quittancement, encaissement, reversement et dépôt de garantie.
                        h3 Techniques
                        p Nous assurons le respect de la destination des locaux loués conformément au bail, la remise en état, l’état des lieux, la définition des travaux de remise en état des locaux et la fixation des sommes à imputer sur le dépôt de garantie.
                        h3 Établissement/ Renouvellement des baux
                        p Nous menons pour votre compte la gestion des demandes de modifications ainsi que la gestion et la délivrance des congés en relation avec le propriétaire : collecte des pièces justificatives auprès du preneur et mise à jour de l’état d’occupation des locaux.
                        h3 Reporting client

                        div.section-article
                            h2 Syndic de copropriété
                            p Nous mettons à votre disposition des équipes expertes en gestion de copropriété (comptables, techniques et juridiques) pour assurer la gestion optimale du syndicat des copropriétaires :
                            ul
                                li Convoquer et suivre la tenue des assemblées générales ;
                                li Mettre en œuvre des décisions de l’assemblée générale : nous nous assurons du respect des engagements et des délais de réalisation des actions ;
                                li Mettre en place une veille réglementaire pour vous assurer de l’actualité des contraintes ou opportunités légales ;
                                li Suivre les contrats et les prestations de maintenance et de services : nos équipes optimisent pour vous ces prestations sans perdre de vue la qualité des résultats ;
                                li Gérer la comptabilité de la copropriété (appels de fonds, reddition des comptes…).
        .row
            article.offer-value
                h2 Notre valeur ajoutée
                div
                    p THAÏS se distingue par sa forte proximité ainsi que par une volonté constante d’écoute, de disponibilité et de proactivité. Pour cela, vous disposez notamment d’un accès immédiat, individuel et adapté à nos décideurs.
                    p Vous bénéficiez de notre démarche de valorisation d’actifs, d’optimisation de l’occupation et des revenus, et de maîtrise des risques réglementaires et techniques.
            .cta-to-references
                a(href="nos-references.html" title="Voir nos références") Voir nos références