// ========================================= //
// breadcrumb
// ========================================= //

.c-breadcrumb {
    //border-bottom: $breadcrumb--border;
    //background: rgba(0,0,0,0.02);
    //border-bottom: 1px solid #d7d7d7;
}

.c-breadcrumb__list {
    margin: 0;
    list-style: none;
    height: rem($breadcrumb--height);
    line-height: rem($breadcrumb--height);
    padding: 0;

    @include bp-lt($medium) {
        padding-left: rem(10);
    }

    li {
        display: inline-block;
        height: rem($breadcrumb--height);
        //padding-top: rem(10);
        font-size: $breadcrumb--fontsize;
        color: $breadcrumb--color;

        @include bp-lt($tabletS) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: rem(250);
        }

        @include bp-lt($mobileL) {
            max-width: rem(200);
        }

        @include bp-lt($mobileM) {
            max-width: rem(150);
        }

        @include bp-lt($small) {
            display: none;

            &:first-of-type { display: inline-block; }
            &:last-of-type { display: inline-block; }
        }

        &, a {
            font-family: $breadcrumb--fontfamily;
        }

        a {
            position: relative;
            display: inline-block;
            font-size: $breadcrumb--fontsize;
            color: $colorPrincipal;
            //font-weight: 700;
            font-family: $fontFamily;
            transition: $ease;
            &:hover{
                color: $black;
            }
        }

        &:after {
            content: '>';
            display: inline-block;
            margin-left: rem(7);
            margin-right: rem(7);
            color: $colorPrincipal;
        }

        &:last-of-type:after { display: none; }
    }
}
