// ========================================= //
// form
// ========================================= //

.wpcf7-not-valid-tip{display: none!important;}
.wpcf7-not-valid{    border: 2px solid #ff1b1b!important;}
.success{
  display: none;
  color: $colorPrincipal;
  padding: 0 30px 30px rem(10);
  &:before{
    font-family: FontAwesome;
    content: "\f046";
    display: inline-block;
    font-size: rem(20);
    padding-right: rem(15);
  }
}

.text-required{
  font-size: rem(12);
  font-style: italic;
  float: left;
  color: rgba(0,0,0,0.5);
}
.large-centered {
  margin: auto;
}
.cta-submit {
  padding: rem(30) 0;
  text-align: right;
}
textarea{
  min-height: rem(200);
}
.field {

  &.error {
    input, textarea {
      border-color: rgba(205,11,0,0.8);
      @include placeholder-color(rgba(205,11,0,0.5))
    }
    span.error{
      color: rgba(205,11,0,0.5);
      font-size: rem(12);
    }
  }
}

.contact-form{
  position: relative;
}
button[name="submit-form-contact"] {
  position: relative;
  border: 0;
  @include link__box_reverse(1, $black, transparent, transparent, 45, 25);
  cursor: pointer;
  i {
    vertical-align: middle;
    padding-right: rem(10);
  }

}
