// ========================================= //
// paginate
// ========================================= //

.c-paginate {
    position: relative;
    padding: rem($paginate--padding) 0;
    background: $paginate--background;

    ol {
        list-style: none;
        margin: 0;

        li {
            display: inline-block;
            margin-left: rem(5);
            margin-right: rem(5);
            vertical-align: top;
            transition: $ease;

            a {
                padding-left: rem(6);
                padding-right: rem(6);
                transition: $ease;

                //@include link__box(1, $paginate--color);
            }

            &, a {
                font-family: $paginate--fontfamily;
                font-size: rem($paginate--fontsize);
                color: $paginate--color;
            }

            &:hover a {
                color: $paginate--color;
            }

            &.current {
                padding-left: rem(6);
                padding-right: rem(6);
                border-bottom: solid rem(1) $paginate--color;
            }
        }
    }
}
