// ========================================= //
// breakpoints
// ========================================= //

// fundation
$small                  : 40em !default;        //640px
$xmedium                : 52.5em !default;      //840px
$medium                 : 64em !default;        //1024px
$large                  : 90em !default;        //1440px

// chrome inspector
$mobileS                : 20em !default;        //320px
$mobileM                : 23.4375em !default;   //375px
$mobileL                : 26.5625em !default;   //425px
$tablet                 : 48em !default;        //768px

// customs
$xsmall                 : 26.25em !default;     //420px
$mobileXl               : 31.25em !default;     //500px
$tabletS                : 36.25em !default;     //580px
$tooltip--xlarge        : 93.75em !default      //1500px
$desktopXxL             : 125em !default        //2000px
$desktop                : 75em !default         //1200px
$desktopL               : 81.25em !default      //1300px
$desktopXL              : 100em !default        //1600px
