// ========================================= //
// colors
// ========================================= //

$white : #ffffff !default;
$black : #000000 !default;
$gray : #eee !default;
$gray-dark : #404040 !default;
$error : #ce5959 !default;
$success : #82bf71 !default;
$info : #f0f0f0 !default;

$selectionColor : $white !default;
$selectionBackground : #ab1054 !default;

$mainBranding : $black !default;
$subBranding : $white !default;

$mainFont : #0c4c8c !default;

$colorPrincipal : #ab1054 !default;
$colorSecondaire : #015a94 !default;
