// ========================================= //
// fontFamily
// ========================================= //

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$fontFamily : 'Lato', sans-serif;

$iconFont : "iconfont";
$iconFontpca : "sik__common";
