.previewImg {
	max-width: 100%;
	max-height: 250px;
	display: block;
	margin-bottom: 10px;
}
.clear {
	clear: both;
}
.separateur{
	margin: 40px 0 30px 0;
	border-width: 5px;
	display:none;
}

.itemsPreview {
	padding: 20px 40px 40px;
	background: #f57e34;
	position: relative;
}
.itemsPreview input[type=text]{border:none;}
.itemsPreview h3{color:#000;}
.itemsPreview .uploadImg, .itemsPreview .uploadPdf{    display: inline-block;
    line-height: 40px;
    height: 40px;
    background: #00b2af;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    position: relative;width:110px;text-decoration:none;outline:none;-webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;}
.itemsPreview .uploadImg:hover, .itemsPreview .uploadPdf:hover{background:#fff;color:#000;}
.itemsPreview .deleteImg, .itemsPreview .deletePdf{margin-left:10px;line-height: 40px;
    height: 40px;
    background: #f08595;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    position: relative;width:140px;text-decoration:none;display: inline-block;outline:none;-webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;}	
.itemsPreview .deleteImg:hover, .itemsPreview .deletePdf:hover{background:#fff;color:#000;}
.itemsPreview .deleteImg.hidden, .itemsPreview .deletePdf.hidden{display:none;}
.itemsPreview .itemsPreviewContainer article {
	width: 100%;
	float: left;
	padding: 0 40px 0px 0;
	margin-bottom: 20px; 
	box-sizing: border-box;
	position: relative;
	border-bottom: 1px dashed grey;
}
.itemsPreview .itemsPreviewContainer article:nth-last-child(1), .itemsPreview .itemsPreviewContainer article:nth-last-child(2) {
	border-bottom-color: transparent;
}
.itemsPreview .itemsPreviewContainer article .itemRemove {
	color: red;
	background: #fff;
	padding: 5px 15px;
	border: 1px solid;
	height: 29px;
	display: block;
}
.itemsPreview article:nth-child(1) .itemRemove {
	display: none;
}
.itemsPreview .itemsPreviewContainer article .itemThumbnail {
}
.itemsPreview .itemsPreviewContainer article .itemDetails {
}
.itemsPreview .addItem{
	bottom: 30px;
	left: 0;
	color: white;
	background: #c3afaf;
	padding: 5px 15px;
	border: none;
	height: 40px;
	width: 100%;
	cursor:pointer;
}



.postsSearchSection {     display:none; position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%; }
.postsSearchSection .postsSearchSection_box {      width: 50%;
    margin: 150px auto;
    border: 1px solid rgba(128, 128, 128, 0.4);
	background: #fff;    padding: 10px 14px;overflow:hidden;}
.postsSearchSection .postsSearchSection_box .postsSearchSection_boxHead {background:#999;padding:0 10px;line-height:38px;display:block;font-size:18px;color:#fff;}
.postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent {  }
.postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent .postsSearchSection_searchForm { display:block;text-align:center;padding:10px 0;}
.postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent .postsSearchSection_searchForm input { display:inline-block;vertical-align:middle;line-height: 36px;border:none;background:#CCC;padding-top:0px;padding-bottom:0px;}
.postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent .postsSearchSection_searchForm button { display:inline-block;vertical-align:middle;
    background: #f57e34;
    color: #fff;
    line-height: 36px;
    border: none;
    cursor: pointer; }
.postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent .postsSearchSection_searchResult {     float: left;
    margin-bottom: 20px;
    height: 400px;
    overflow: scroll; }

.postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent .postsSearchSection_searchResult article {     width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 10px; }
.postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent .postsSearchSection_searchResult article img { width: 100%;
    float: left; }
.postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent .postsSearchSection_searchResult article h1 {     padding: 0;
    float: left;
    width: 100%;
    font-size: 19px;
    text-align: center; }
.postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent .postsSearchSection_searchResult article button{ margin: 5px 0 0 0;
    width: 100%;
    background: #333;
    color: #fff;
    line-height: 36px;
    border: none;
    cursor: pointer; }


.postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent .postsSearchSection_loadMore { float:left; }
.postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent .postsSearchSection_loadMore button {  }

.postsSearchSection .postsSearchSection_box .postsSearchSection_boxFooter{float:right;}

.postsSearchSection .postsSearchSection_box .postsSearchSection_boxFooter button, .postsSearchSection .postsSearchSection_box .postsSearchSection_boxContent .postsSearchSection_loadMore button{display:block;background:#f57e34;color:#fff;line-height:36px;border:none;cursor:pointer;}

.posts article.remove button.add, .posts article.add button.remove{display: none}


.postsChosen_list article {     width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 10px; }

.postsChosen_list article img { width: 100%;
    float: left; max-height:300px;}

.postsChosen_list article h1 {     padding: 0;
    float: left;
    width: 100%;
    font-size: 19px;
    text-align: center; }

.postsChosen_list article button{ margin: 5px 0 0 0;
    width: 100%; }


/*******************************************css user magasin*********************************************/

body.body_magasin{background:#fff;}
.body_magasin #adminmenu li#menu-users{display:none;}
.body_magasin #wpadminbar ul#wp-admin-bar-root-default>li#wp-admin-bar-comments{display:none;}

#poststuff .postbox{    width: calc((100% / 2) - 26px);
    display: inline-block!important;
    vertical-align: top;
    margin-left: 20px;}
.body_magasin #annonceAddMetaboxesMesuresPlan p{display:inline-block;width:calc((100% / 2) - 10px);margin-left:6px;margin-top:0px;}

/*.body_magasin #adminmenuback, .body_magasin #adminmenu, .body_magasin #adminmenuwrap{background:#fafaf9;}*/
body.body_magasin #wpadminbar{    background: #fff;
    color: #000;}
body.body_magasin #wpadminbar a, body.body_magasin #wpadminbar a span, body.body_magasin #wpadminbar a span:before{color:#000!important;}
body.body_magasin #wpadminbar a:hover, body.body_magasin #wpadminbar .hover a{background:none!important;}
body.body_magasin #wpadminbar .ab-sub-wrapper a, body.body_magasin #wpadminbar .ab-sub-wrapper a span{color:#fff!important;}

body.body_magasin #wpadminbar ul#wp-admin-bar-root-default>li#wp-admin-bar-wp-logo{display:none;}
body.body_magasin.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before{content:"";background:url("../../../assets/images/commun/logo-itepee.png") no-repeat;background-size:cover;width:30px;height:30px;background-image:url("../../../assets/images/commun/logo-itepee.png")!important;}
body.body_magasin #wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li#wp-admin-bar-edit-profile{display:none;}

body.body_magasin #wpfooter{display:none;}


body.body_magasin #adminmenu, body.body_magasin #adminmenu .wp-submenu, body.body_magasin #adminmenuback, body.body_magasin #adminmenuwrap{background:#616161;}

body.body_magasin #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, body.body_magasin #adminmenu .wp-has-current-submenu.opensub .wp-submenu, body.body_magasin #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, body.body_magasin .no-js li.wp-has-current-submenu:hover .wp-submenu{background:#616161;}
body.body_magasin #update-nag, body.body_magasin .update-nag{display:none!important;width:0px;height:0px;overflow:hidden;}


body.body_magasin #wpadminbar .quicklinks .menupop ul li#wp-admin-bar-new-media{display:none;}

.latestPostHome{display:block;overflow:hidden;padding-bottom:20px;}