block vars
    - var pageTitle = ''
    - var pageClass = ''
    - var selectedSubMenu = ''
    - var cssDir = '/assets/styles/'
    - var cssDirLocal = '/assets/styles/'
    - var cssDirVendor = '/assets/styles/vendor/'
    - var imgDir = '/assets/media/images/'
    - var mediaDir = '/assets/media/'
    - var jsDir = '/assets/scripts/'
    - var jsDirLocal = '/assets/scripts/local/'
    - var jsDirVendor = '/assets/scripts/vendor/'
    - var lang = 'fr'
    - var headLess = false

doctype html
html(lang='fr')
    head
        //- Metas
        include ../assets/_metas

        //- Fonts
        include ../assets/_fonts

        //- Html5 Shiv
        //[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]

        //- Styles
        include ../assets/_styles

        //- Favicon
        include ../assets/_favicon

        //- Mixins
        include ../mixins/_config

    body(class= pageClass)
        #loader-body
            .load-wrap
                .bg-load
        if(!headLess)
            a.c-nav__close(href="")
            header
                .header-content
                    .row
                        .columns
                            include ../blocks/_head
                            include ../blocks/_logo
                            .o-nav
                                - var navLevel0 = [{title : 'Accueil', url :'/index.html'},  {title : 'Qui sommes nous?', url :'#'}, {title : 'Nos Métiers', url :'#'}, {title : 'Nos références', url :'#'}, {title : 'Nous contacter', url :'contact.html'}]
                                - var navLevel1 = [[],[{title : 'Group', url :'le-groupe.html'}, {title : 'l\'entreprise', url :'lentreprise.html'}], [{title : 'Asset Management', url :'asset-management.html'}, {title : 'Property Management', url :'property-management.html'}, {title : 'Facility Management', url :'facility-management.html'}, {title : 'Project Management', url :'project-management.html'}] , [{title : 'Clients', url :'clients.html'},{title : 'Actifs immobiliers', url :'actifs-immobiliers.html'}], []]
                                - var navLevel2 = [[],[{title : 'Group', url :'le-groupe.html'}, {title : 'l\'entreprise', url :'lentreprise.html'}], [{title : 'Asset Management', url :'asset-management.html'}, {title : 'Property Management', url :'property-management.html'}, {title : 'Facility Management', url :'facility-management.html'}, {title : 'Project Management', url :'project-management.html'}] , [{title : 'Clients', url :'clients.html'},{title : 'Actifs immobiliers', url :'actifs-immobiliers.html'}], []]
                                ul.c-nav__level0
                                    each label0, indexI in navLevel0
                                        li(class='')
                                            - if(!navLevel1[indexI].length)
                                                - if (selectedMenu === label0.title)
                                                    a(href=label0.url class="is-active")= label0.title
                                                - else
                                                    a(href=label0.url class="")= label0.title

                                            - else if(navLevel1[indexI].length)
                                                - if (selectedMenu === label0.title)
                                                    a(class='has-submenu is-active' href=label0.url)= label0.title
                                                - else
                                                    a( class='has-submenu' href=label0.url)= label0.title
                                            if(navLevel1[indexI].length)
                                                .c-nav__show: span.c-fsik__icon--arrowRight
                                            if(navLevel1[indexI].length)
                                                ul.c-nav__level1
                                                    li.c-nav__hide
                                                        span.c-fsik__icon--arrowLeft
                                                        span.c-text= label0.title

                                                    each label1 in navLevel1[indexI]
                                                        - if (selectedSubMenu === label1.title)
                                                            li: a(href=label1.url class="is-active")= label1.title
                                                        - else
                                                            li: a(href=label1.url)= label1.title
                            .c-nav__icon: span

        main
            block body

        if(!headLess)
            include ../blocks/_footer

            a.c-action__gototop(href="", title="Haut de page")

        //- Script
        //-- vendor
        include ../assets/_scripts
        //-- local
        block scripts
