// ========================================= //
// content
// ========================================= //
.listing-items-cat{
  .row{
    background: #f9f9f9;
    padding: 40px;
    & >div{
      margin-bottom: 20px;
    }
  }
  .et_pb_post{
    background: #fff;
    padding: 19px;
    text-align: center;
    position: relative;
    height: 100%;
    padding-bottom: 90px;
    .et_pb_image_container{
      margin: -20px -20px 29px;
      position: relative;
      .post-date{
        position: absolute;
        right: 0px;
        top: 0px;
        color: #fefefe;
        background: #ab1054;
        font-size: 1.3rem;
        padding: 6px 8px;
        font-weight: bold;
        display: none;

      }
    }
    .entry-title {
      font-weight: 700;
      font-size: 26px;
      line-height: 1.1em;
      text-align: left;
      a{
        color: #4A4A4A;
      }
    }
    .post-content{
      font-size: 16px;
      line-height: 1.5em;
      p{
        text-align: left;
      }
    }
    a.more-link{
      display: inline-block;
      color: #c15b80;
      background: transparent;
      -webkit-border-radius: .3125rem;
      -moz-border-radius: .3125rem;
      border-radius: .3125rem;
      padding: 10px 45px;
      font-weight: 700;
      border: 1px solid #c15b80;
      /* margin-top: 30px; */
      position: absolute;
      bottom: 18px;
      left: 50%;
      transform: translateX(-50%);
      &:hover{
        background: #c15b80;
        color: #fefefe;
        border-color: #c15b80;
        border-color: transparent;
      }
    }
  }
}

.post-wrap{
  .large-8{
    position: relative;
  }
  .nav-post{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 25px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(171, 16, 84,0.3);
    .nav-previous{
      padding-left: 45px;
      float: left;
      i{
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 42px;
        color: rgba(144,8,70,0.12);
      }
      .meta-nav{
        color: #adb0b6;
        font-size: 13px;
        line-height: 20px;
        display: block;

      }
      .post-title{
        color: #900846;
        text-transform: none;
        font-size: 18px;
        display: block;
      }
    }
    .nav-next{
      padding-right: 45px;
      float: right;
      i{
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 42px;
        color: rgba(144,8,70,0.12);
      }
      .meta-nav{
        color: #adb0b6;
        font-size: 13px;
        line-height: 20px;
        display: block;
        text-align: right;
      }
      .post-title{
        color: #900846;
        text-transform: none;
        font-size: 18px;
        display: block;
        text-align: right;
      }
    }
  }
  .visu{
    position: relative;
    img{
      width: 100%;
    }
    .post-date{
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 30;
      background: #fff;
      border-radius: 50%;
      width: 63px;
      height: 63px;
      padding: 0 8px;
      text-align: center;
      span{
        position: relative;
        display: block;
      }
      .entry-date{
        font-size: 24px;
        font-weight: 700;
      }
      .entry-month{
        margin-top: 6px;
        padding-bottom: 4px;
        &:after{
          position: absolute;
          height: 2px;
          content: "";
          left: 50%;
          margin-left: -40%;
          bottom: -2px;
          width: 80%;
          color: #fff;
          background-color: #900846;
        }
      }
      .entry-year{
        display: none;
      }
    }
  }
  .single-related{
    .item-related{
      border-bottom: 1px solid #c15b80;
      padding-bottom: 16px;
      display: block;
      max-width: 80%;
      margin: auto;
      margin-bottom: 16px;
      &:last-child{
        border: 0;
      }
      .post-image{
        display: block;
        margin-bottom: 10px;
        position: relative;

      }
      h4{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.1em;
        text-align: center;
        margin: 0px;
        a{
          color: #4A4A4A;
        }
      }
    }
    h3{
      color: #900846;
      margin: 0px;
      padding: 0px;
      margin-bottom: 35px;
      text-align: center;
      padding-bottom: 10px;
      position: relative;
      &:after{
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 60px;
        height: 3px;
        margin-left: -30px;
        content: "";
        color: #fff;
        background-color: #900846;
      }
    }
  }
}

.form-postuler{
  .title-job{
    color: #ab1054;
    font-size: 1.25rem;
    display: inline-block;
    padding-left: 12px;
  }
}

.portfolio-content{
  .paginate{
    text-align: center;
    .current{
      display: inline-block;
      vertical-align: middle;
      display: none;
    }
    ul{
      display: inline-block;
      vertical-align: middle;
      li{
        float: left;
        margin-right: 4px;
        list-style: none;
        &.page-item{
          display: none;
        }
        &.wpv-pagination-nav-links-item{
          display: block;
        }
        a{
          font-size: 15px;
          line-height: 25px;
          color: #900846;
          padding: 1px 8px;
          margin: 0 6px;
          text-align: center;
          text-decoration: none;
          font-weight: 700;
          position: relative;
          &:hover:after{
            opacity: 1;
          }
          &:after{
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            content: "";
            opacity: 0;
            -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease;
            color: #fff;
            background-color: #900846;
          }
        }
        span{
          font-size: 15px;
          line-height: 25px;
          color: #900846;
          padding: 1px 8px;
          margin: 0 6px;
          text-align: center;
          text-decoration: none;
          font-weight: 700;
          position: relative;
          &:after{
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            content: "";
            opacity: 1;
            -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease;
            color: #fff;
            background-color: #900846;
          }
        }
      }
    }
  }
}
.navigation{
  text-align: center;
  ol{
    display: inline-block;
    vertical-align: middle;
    li{
      float: left;
      margin-right: 4px;
      list-style: none;
      &:first-child{
        display: none;
      }
      &.page-item{
        display: none;
      }
      &.wpv-pagination-nav-links-item{
        display: block;
      }
      a{
        font-size: 15px;
        line-height: 25px;
        color: #900846!important;
        padding: 1px 8px!important;
        margin: 0 6px!important;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        position: relative;
        background: none!important;
        border: 0!important;
        &:hover:after{
          opacity: 1;
        }
        &:after{
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          content: "";
          opacity: 0;
          -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
          color: #fff;
          background-color: #900846;
        }
      }
      span{
        font-size: 15px;
        line-height: 25px;
        color: #900846!important;
        padding: 1px 8px!important;
        margin: 0 6px!important;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        position: relative;
        background: none!important;
        border: 0!important;
        &:after{
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          content: "";
          opacity: 1;
          -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
          color: #fff;
          background-color: #900846;
        }
      }
    }
  }
}

.uil-default rect:not(.bk) {
  fill: #ffffff;
}
.uil-ring > path {
  fill: #ffffff;
}
.ring-loader .circle {
  fill: #ffffff;
}
.ring-loader .moving-circle {
  fill: #ffffff;
}
.uil-hourglass .glass {
  stroke: #ffffff;
}
.uil-hourglass .sand {
  fill: #ffffff;
}
.spinner-loader .load-wrap {
  background-image: url("data:image/svg+xml,%3Csvg width='75px' height='75px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='uil-default'%3E%3Crect x='0' y='0' width='100' height='100' fill='none' class='bk'%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(0 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(30 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(60 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(90 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(120 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(150 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(180 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(210 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(240 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(270 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(300 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect  x='46.5' y='40' width='7' height='20' rx='5' ry='5' fill='%23ffffff' transform='rotate(330 50 50) translate(0 -30)'%3E  %3Canimate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E");
}
.ring-loader .load-wrap {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='72' height='72' fill='%23ffffff'%3E   %3Cpath opacity='.25' d='M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4'/%3E   %3Cpath d='M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z'%3E     %3CanimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='0.8s' repeatCount='indefinite' /%3E   %3C/path%3E %3C/svg%3E");
}
.hourglass-loader .load-wrap {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='72' height='72' fill='%23ffffff'%3E   %3Cpath transform='translate(2)' d='M0 12 V20 H4 V12z'%3E      %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline'  /%3E   %3C/path%3E   %3Cpath transform='translate(8)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.2' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline'  /%3E   %3C/path%3E   %3Cpath transform='translate(14)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.4' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline' /%3E   %3C/path%3E   %3Cpath transform='translate(20)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.6' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline' /%3E   %3C/path%3E   %3Cpath transform='translate(26)' d='M0 12 V20 H4 V12z'%3E     %3Canimate attributeName='d' values='M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z' dur='1.2s' repeatCount='indefinite' begin='0.8' keytimes='0;.2;.5;1' keySplines='0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8' calcMode='spline' /%3E   %3C/path%3E %3C/svg%3E");
}
.sub-page-list{
  .desc{
    .wrap-sub-page{
      p{
        text-align: center;
      }
    }
  }
  .wrap-sub-page{
    display: block;
    padding: 40px;
    border: .5px dashed #83113b;
    transition: all 0.4s ease;
    background: #fff;
    text-align: center;
    cursor: pointer;
    &:hover{
      background: #83113b;
      h3{
        color: #fff;
      }
    }
    h3{
      font-weight: normal;
    }
    p{
      text-align: center;
      a{

      }
    }
    a{
      display: inline-block;
      color: #c15b80;
      background: #fff;
      -webkit-border-radius: .3125rem;
      -moz-border-radius: .3125rem;
      border-radius: .3125rem;
      padding: 10px 45px;
      font-weight: 700;
      border: 1px solid #c15b80;
      margin-top: 40px;
    }
  }
}