// ========================================= //
// footer
// ========================================= //

body.isSafari{
  footer{
    overflow: hidden;
  }
  .btm-copyright{
    display: block;
    overflow: hidden;
    width: 100%;
  }
}

footer{
  background: #ab1054;
  margin-top: rem(80);
  .footer-wrap{
    max-width: 1248px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    @include bp-lt(#{$nav--offcanvas--bp}px) {

      padding-top: 20px;
      padding-bottom: 20px;

    }
    .row{
      width: 100%;
      .column{
        position: relative;
        @include bp-lt(#{$nav--offcanvas--bp}px) {

          padding-bottom: rem(5);
          border-bottom: 1px solid rgba(255,255,255,0.5);
          margin-bottom: rem(10);

        }
        &:last-child{

          border-bottom-color:transparent;
        }

        .groupe-mention{
          position: absolute;
          width: 100%;
          left: 0%;
          top: 50%;
          transform: translate(-0%,-50%);
          text-align: center;

          @include bp-lt(#{$nav--offcanvas--bp}px) {

            padding-top: rem(5);
            position: relative;
            width: 100%;
            transform: translate(-0%,0%);
            text-align: center;
            top: 0;

          }
        }
      }
    }

  }
  ul{
    margin: 0;
    padding: 0 0 10px;
    li{
      display: block;
      margin-top: 5px;
      padding-top: 5px ;
      margin-bottom: rem(10);
      border-bottom: 1px solid rgba(255,242,242,0.15);
      a{
        color: #fff2f2;
        display: inline-block;
        position: relative;
        padding-bottom: rem(3);
        font-size: .9375rem;
        &:after{
          transition: $ease;
          content: '';
          width: 0;
          height: 1px;
          background: $white;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
        }

        &:hover, &.is-active {
          &:after{
            width: 100%;
          }
          //   background: $nav--background--active;
          //  color: $colorPrincipal;
          //  border: 1px solid $colorPrincipal;

        }
      }
    }
  }

  .groupe-mention{
    span{
      font-size: rem(13);
      color: $white;
      padding-right: rem(20);
    }
    a{


    }
    img{
vertical-align: middle;
    }
  }
}
.contact-info{
  color: $white;
  font-size: rem(15);
  padding: rem(5) 0;
  >div{
    padding-bottom: rem(10);
    overflow: hidden;

  }
  i{
    display: inline-block;
    margin-right: rem(10);
    float: left;
    color: #CCC;
    margin-top: rem(2);
  }
  span{
    float: left;
    width: calc(100% - 30px);
  }
}
.btm-copyright{
  background: #000;

  text-align: center;
  .footer-wrap{
    padding: rem(10) 0;
  }
  .copyright-content{
    a{

      max-width: 90px;
      display: inline-block;
    }
    img{
      vertical-align: middle;
    }
    span{
font-size: rem(12);
      color: $white;
      padding-left: rem(15);
    }
  }
}