// ========================================= //
// header
// ========================================= //
$colorIntoAfter: #fff !default;
$colorIntoBefore: #000 !default;
$colorTextIntro: #000 !default;
$colorBgTag: rgb(78, 68, 62) !default;
$colorTextTag: #fff !default;
$colorArrowPagin: #000 !default;
$colorMenu: #fff !default;
$colorBgIntro: linear-gradient(180deg, #e9742d, #e95800) !default;

// about Variabl
$colorBgAbout: #0f0103 !default;
$colorTextAbout: #fff !default;
$colorTagedText: #EF7B00 !default;
$colorbgCard: transparent !default;
body{
  p{
    font-size: 1rem;
    margin:   5px 0;
    line-height: 1.6rem;
  }
}

.headactive{

  header{

    @include bp-gt(#{$nav--offcanvas--bp}px) {
      transform: translateY(-125px);
    }
  }

}
.headactive-second{
  header{

    @include bp-gt(#{$nav--offcanvas--bp}px) {
      transform: translateY(0px);
      top: 0;
    }
  }

}
header {
  position: relative;
  width: 100%;
  z-index: 5;
  background: #ab1054;
  transition: $ease;
  min-height: rem(125);
  z-index: 99;
  @include bp-lt(#{$nav--offcanvas--bp}px) {

    padding: rem(10) 0 rem(20) 0;
    min-height: auto;
  }
  .header-content{
    transition: $ease;
    top: 0;
    padding: rem(10) 0 rem(20) 0;
    transform: translateY(0px);
    position: fixed;
    width: 100%;
    background: #ab1054;
    @include bp-lt(#{$nav--offcanvas--bp}px) {
      position: relative;
      padding: 0;
      height: 100%;
    }
  }
  &.headactive-second{
    padding: rem(0) 0 rem(0) 0;
    @include bp-lt(#{$nav--offcanvas--bp}px) {

    }
    .header-content{


    }

  }
  &.headactive{
    padding: rem(0) 0 rem(0) 0;
    @include bp-lt(#{$nav--offcanvas--bp}px) {

      padding: rem(0) 0 rem(0) 0;
    }
    .header-content{
      padding: rem(10) 0 rem(20) 0;
      position: fixed;
      transform: translateY(-200px);
      width: 100%;
      background: #ab1054;
      @include bp-lt(#{$nav--offcanvas--bp}px) {
      padding: 0;
        position: relative;
        transform: translateY(0px);
      }
    }

  }
  .branding {
    max-width: rem(145);
  }
  .logo {
   // max-width: rem(145);
    display: inline-block;
    position: absolute;
    width: 104px;
    height: 104px;
    line-height: 104px;
    max-width: initial;
    text-align: center;
    border: 1px solid #fff;
    top: 12px;
    img{
      max-width: 74%;
    }
    path {
      fill: #fff;

    }
  }
  .head-col {
    display: block;
    width: 100%;
    text-align: right;
    transition: $ease;
    > div {
      text-align: left;
      display: inline-block;
      i {
        display: inline-block;
      }
    }
    a {
      transition: $ease;
    }
    .soc-ico {
      a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        color: $white;
        background: #c15b80;
        text-align: center;
        border-radius: 50%;
        margin-left: rem(5);
        font-size: rem(13);

        i {
          display: inline-block;
          vertical-align: middle;
        }

        &:hover {
          background: #fff;
          color: #c15b80
        }
      }
    }
    ul {
      @include bp-lt(700px) {
        margin: 0 0 rem(20);
        padding: 0;
      }
      li {

        @include inlineblockItem;
        margin-right: rem(5);
        a {
          color: $white;
          background: #c15b80;
          border-radius: rem(5);
          padding: 5px 25px;

          @include bp-lt(700px) {
            padding: 5px 15px;
          }
          &:hover {
            background: #fff;
            color: #c15b80
          }
        }
      }
    }
  }
  .menu-hamburger-trigger {
    display: none;
    float: right;
    margin: rem(10) 0;
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      position: relative;
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 0.2s ease-out;
      -webkit-appearance: none;
      background: none;
      border: 0;
      /* box-sizing: content-box; */
      color: inherit;
      font-family: inherit;
      font-size: 100%;
      padding: 0;
      text-align: inherit;
      text-decoration: none;
      text-transform: inherit;
      svg {
        fill: $colorMenu;
        height: 2rem;
        width: 2rem;
        vertical-align: middle;
        display: block;

      }
      &:after {
        content: "";
        position: absolute;
        top: -60%;
        right: -60%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
  }
  > ul {
    float: right;
    &.main-nav {
      li {
        a {
          &:hover {

          }
        }
        ul {

        }
      }
    }
  }
  nav {
    display: none;
    float: right;
    ul {
      li {
        @include inlineblockItem;
        padding: 0 rem(20);
        a {
          color: $colorMenu;
          text-transform: uppercase;
          font-size: rem(18);
          font-weight: 300;
        }
      }
    }
  }
}

.mouse {
  width: 20px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid $white;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 20px);
  cursor: pointer;
  z-index: 2;
  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    top: 5px;
    left: calc(50% - 2px);
    background: $white;
    opacity: 0;
    -webkit-animation: m-ball 1.2s ease-in-out infinite;
    animation: m-ball 1.2s ease-in-out infinite;
  }
  @keyframes m-ball {
    50% {

      opacity: 1
    }
    47.5%, 52.5% {

      transform: translateY(10px)
    }
    100% {

      transform: translateY(20px)
    }
  }
}

.swiper-pagination {
  text-align: center;
  position: absolute;
  bottom: 30px;
  line-height: 1.2;
  //right: 30px;
  width: 100%;
  span {
    display: inline-block;
    margin-right: rem(20);
    background: transparent;
    border: 5px solid $colorArrowPagin;
    transition: $ease;
    &:last-child {
      margin: 0;
    }
  }
}

#progress {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: $colorArrowPagin;
  height: 10px;
  z-index: 100;
  width: 0;
}

section {
  //min-height: 100vh;
  min-height: inherit;
  line-height: 100vh;
  vertical-align: middle;
  padding: 0;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

h1 {
  font-size: rem(50);
  padding: rem(50) 0;
  text-align: center;
  @include bp-lt(#{$nav--offcanvas--bp}px) {
    font-size: rem(35);
    padding: rem(30) 0;
  }
}

p {
  line-height: rem(26);
  font-size: rem(18);
}

a {
  transition: $ease;
  &.btn-link {
    display: inline-block;
    color: #c15b80;
    background: #fff;
    border-radius: rem(5);
    padding: 10px 45px;
    font-weight: 700;
    border: 1px solid #c15b80;
    &:before {

    }
    &:hover {
      background: #c15b80;
      color: $white;
      border-color: transparent;
    }
  }
}

.heading {
  line-height: normal;
  min-height: 14.875rem;
  overflow: hidden;
  position: relative;
  padding: 0;
  @include bp-lt(#{$nav--offcanvas--bp}px) {
    min-height: rem(200);
  }
  //margin-bottom: rem(30);
  &:after {

    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100%;
    top: 0;
    //background: rgba(255,255,255,0.5);
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  .hero-content {
    position: relative;
    //margin-top: -100px;
    min-height: 200px;
    z-index: 3;

    .hero-inner {
      text-align: center;
      .c-breadcrumb {
        background: transparent;
        @include bp-lt(#{$nav--offcanvas--bp}px) {
          // display: none;
        }
        .label {
          //color: $colorPrincipal;
          color: #caacb9;
          display: inline-block;
          //text-transform: uppercase;
          font-weight: 700;
          font-size: rem(15);
          margin-right: rem(5);
          color: $white;
          background: $colorPrincipal;
        }
        ul {
          display: inline-block;
          vertical-align: middle;
          li, li a {
            //color: rgba(0,0,0,9);
            color: #fff;
            &:after {
              //  color: $black;
              color: #fff;
            }
            a {

            }
          }
        }
      }
    }
    hgroup {
      line-height: 200px;
      h1 {
        display: inline-block;
        line-height: 1.2;
        vertical-align: middle;
        //color: $black;
        color: #fff;
        font-size: rem(50);
        margin: 0;

        &:after {
          height: 5px;
          background: $white;
          width: 80px;
          display: block;
          // content: "";
          vertical-align: middle;
          margin-right: rem(10);
        }
      }
    }

  }

  .hero-second-illus {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #41021f;
    @include bp-lt(#{$nav--offcanvas--bp}px) {
      // position: relative;
      // width: calc(100% + 30px);
      // margin-left: rem(-15);
    }

    .hero-bg {
      background-position: 50%;
      height: 100%;
      background-origin: border-box;
      background-size: cover;
      min-height: 300px;
      min-width: 100%;
      background-position: 50%;
      @include bp-lt(#{$nav--offcanvas--bp}px) {
        min-height: rem(150);
      }

    }
    .hero-second-content {
      background-position: 50%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
      width: 100%;
      @include bp-lt(#{$nav--offcanvas--bp}px) {
        clip-path: none;
      }
    }
  }
}

.portfolio-search-engine {
  padding: 3.125rem 1.25rem;
  background: #f3dee6;
  text-align: center;
  margin-top: -119px;
  position: relative;
  z-index: 9;
  @include bp-lt(#{$nav--offcanvas--bp}px) {
    margin-top: -20px;
  }
  fieldset {
    padding: 0;
    margin: 0;
  }
  legend {
    display: inline-block;
  }
  .field {
    display: inline-block;
    padding: 0 rem(10);
    text-align: left;
    margin-bottom: 0;
  }
  label {
    display: block;
    padding-bottom: rem(5);
    display: none;
  }
  select {
    width: rem(270);
    height: rem(40);
    color: #c15b80;
    font-weight: 700;

  }
  input {

  }
  button {
    cursor: pointer;
    border: 0;
    transition: $ease;
    @include btnDefault(#c15b80, $white, transparent, #c15b80, #c15b80, transparent);
    span {

    }
  }
  .form-title {
    display: inline-block;
    font-size: rem(17);
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding-right: rem(10);
    span {
      font-weight: 700;
    }
    @include bp-lt(#{$nav--offcanvas--bp}px) {
      margin:0 0 rem(30) 0;
    }
  }
  .form-group {
    @include bp-lt(#{$nav--offcanvas--bp}px) {

      margin: 10px 0;
    }
  }
  .field{
    @include bp-lt(#{$nav--offcanvas--bp}px) {

      margin: 0 0 10px 0;
    }
  }
}
.wizard-form-fields {
  width: 100%;
  margin-top: rem(20);
  .field {
    position: relative;
    margin-bottom: rem(25);
    &.form-fileUpload{
      .file-select{
        height: 75px;
        font-size: 28px;
        line-height: 59px;
        width: 100%;
        padding: 17px 12px 0;
        transition: .3s;
        border: 2px solid transparent;
        border-radius: 10px;
        background: rgba(255,255,255,.02);
        font-weight: 200;
        color: #fefefe;
        position: relative;
        label{
          width: 100%;
          color: #000;
          border: 2px solid #e6e6e6;
          border-radius: 10px;
          line-height: 71px;
          animation : none;
          i{
            position: absolute;
            right: 10px;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            top: 50%;
          }
        }
        input{
          height: 75px;
          font-size: 28px;
          line-height: 59px;
          width: 100%;
          padding: 17px 12px 0;
          transition: .3s;
          border: 2px solid transparent;
          border-radius: 10px;
          background: rgba(255,255,255,.02);
          font-weight: 200;
          color: #fefefe;
        }
      }
    }
    &.form-submit{
      button {
        cursor: pointer;
        border: 0;
        transition: $ease;
        @include btnDefault(#c15b80, $white, transparent, #c15b80, #c15b80, transparent);
        padding: 15px 55px;
        span {

        }
      }

    }
    label {
      font-size: 15px;
      line-height: 75px;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 32px;
      pointer-events: none;
      font-weight: 500;
      letter-spacing: 1px;
      z-index: 9;

      &:after {
        content: '';
        vertical-align: super;
        display: inline-block;
        background-image: url(../media/icons/required.svg);
        background-repeat: no-repeat;
        background-size: 6px 6px;
        width: 6px;
        height: 6px;
        margin: 0 0.3em;
      }
    }
    .form-text, .form-email, .form-url, .form-textarea, .form-tel {
      height: 75px;
      font-size: 28px;
      line-height: 59px;
      width: 100%;
      padding: 17px 12px 0;
      -webkit-transition: .3s;
      transition: .3s;
      border: 2px solid #e6e6e6;
      border-radius: 10px;
      background: #f1f1f;
      font-weight: 200;
      color: $colorPrincipal;
    }
    .form-textarea{
      padding: 28px 32px 0;
      font-size: 24px;
      line-height: 36px;
      resize: vertical;
      min-height: rem(212);
    }
    &.form-type-checkbox{
      input{
        display: none;
        &:checked{
          +label{
            border: 0;
            background: $colorPrincipal;
            &:after{
              opacity: 1;
            }
          }
        }
      }
      label{
        display: block;
        position: relative;
        height: 75px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        opacity: 1;
        pointer-events: auto;
        &:before, &:after{
          position: absolute;
          -webkit-transition: .3s;
          transition: .3s;
          content: '';
        }
        &:before{
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px dashed rgba(241, 241, 241, 0.18);
          border-radius: 10px;
          opacity: 1;
          z-index: -1;
        }
        &:after{
          top: 31px;
          right: 22px;
          width: 12px;
          height: 12px;
          background: url(/assets/media/icons/checkbox-x.svg);
          opacity: 0;
        }
      }
    }
    &.focus{
      &.textarea{

        label{

          opacity: 0;
        }
      }
      label{

        -webkit-animation: focusAnimation .5s linear forwards;
        animation: focusAnimation .5s linear forwards;
      }

      @-webkit-keyframes focusAnimation {
        0% {
          font-size: 14px;
          line-height: 75px;
          opacity: 1;
        }
        49% {
          font-size: 14px;
          line-height: 75px;
          opacity: 0;
        }
        51% {
          font-size: 11px;
          line-height: 35px;
          opacity: 0;
        }
        100% {
          font-size: 11px;
          line-height: 35px;
          opacity: .5;
        }
      }

      @keyframes focusAnimation {
        0% {
          font-size: 14px;
          line-height: 75px;
          opacity: 1;
        }
        49% {
          font-size: 14px;
          line-height: 75px;
          opacity: 0;
        }
        51% {
          font-size: 11px;
          line-height: 35px;
          opacity: 0;
        }
        100% {
          font-size: 11px;
          line-height: 35px;
          opacity: .5;
        }
      }
    }
  }
}
.portfolio-content{
    .row{
        margin: 0;
      .column{
        margin-top: rem(30);
      }
    }
}
.form-contact{
  fieldset{
    padding: 0;
  }
}
.map{
 min-height: rem(400);
 margin: rem(40) 0;

}
.card-portfolio {
  @include box-shadow(-0.5px, 0px, 5px, rgba(0, 0, 0, 0.10), false);
  height: 100%;
  position: relative;
  border: 0.5px dashed #83113b;
  padding: 30px;

  > div {

  }

  &:hover {
    .viewer {
      &:before {
        transform: translate(50%, -50%);
        left: 15%;
        font-size: rem(28);
      }
    }
    .cta {
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;

      a {
        span {
          color: $white;
        }
      }
    }
  }
  .viewer {
    min-height: rem(200);
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
    transition: $ease;
    background-size: cover;
    background-repeat: no-repeat;
    &:after {

    }
    &:before {

    }
  }
  .desc {
    padding: rem(10);
    position: relative;
    h2{
      text-align: center;
      min-height: 60px;
      font-weight: normal;
      font-size: 1.1rem;
      margin: 0;
      line-height: 25px;
      margin-bottom: 10px;
      span{
        display: block;
        font-size: 75%;
      }
    }
    >div{
      >div{
        overflow: hidden;
        span {
          &:after {

          }
          &:first-child{
            &:after {
              content: '';
              display: block;
            }
          }
          color: rgba(0, 0, 0, 1);
          font-weight: 500;
          &.label {
            background: #c15b80;
            color: $white;
            padding: rem(3) rem(5);
            font-size: rem(12);
            line-height: 1.2;
            border-radius: rem(3);
            font-style: italic;
            //float: right;
          }
          strong {
          }
        }
        &:last-child{
          span{
            &:last-child{
              display: none;
            }
          }
        }
        &.city-item{
          .catname{
            display: none;

          }
        }
        &.missions-item{
          border-bottom: 0;
          text-align: center;
          span{
            padding: 0;
           // display: none;
            &.catname{
              font-weight: bold;
              margin-bottom: 14px;
              display: block;
            }
            &.label{
              display: block;
              float: none;
              background: none;
              color: #000;
              a{
                display: inline-block;
                color: #000;
                padding: .125rem .3125rem;
                -webkit-border-radius: .1875rem;
                -moz-border-radius: .1875rem;
                border-radius: .1875rem;
                pointer-events: none;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
              }
            }
          }
        }
        &.brand-item{
          padding: 0 0 .875rem 0;
          margin: auto;

          //position: absolute;
          //left: 11px;
          //top: -64px;
          z-index: 9999999;
          span{
            background: #fff;
            display: block;
            &.catname{
              text-align: center;
              img{
                //max-width: 8.25rem;
                height: 68px !important;
              }
            }
          }

        }
      }
    }
  }
  .cta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-70%, -50%);
    text-align: center;
    transition: $ease;
    opacity: 0;
    z-index: 3;
    > div {
      border: 0;
      &:last-child {
        display: none;
      }
    }
    a {
      display: block;
      font-size: rem(18);
      color: $white;
      span {

      }
    }
  }
  h2 {
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 1.3;
    color: $black!important;
  }
  div {
    margin-bottom: 0;
    > div {

      &:last-child {
        border: 0;
        //overflow: hidden;
        .catname {

        }
      }
    }
  }
}

.page-content {
  line-height: normal;
  padding: rem(50) 0;
  .items-metiers{
    display: block;
    padding: 0px 0;
  }
  .metier{
    .desc{
      ul{
        padding: 0;
        display: block;
        list-style: none;
        margin-left: 20px;
        li{
          position: relative;
          padding-left: 20px;
          margin-bottom: 6px;
          font-size: 1rem;
          &:after{
            width: 10px;
            height: 10px;
            background: #ab1054;
            position: absolute;
            left: 0;
            top: 6px;
            content: "";
            list-style: none;
          }
        }
      }
    }
  }
  .desc{
    p{
      text-align: justify;
    }
  }
  .contact-info{
    color: $black;
    i{
      color:$colorPrincipal;
    }
    span{

    }
    padding: rem(20) 0;

  }

  h2 {
    color: $colorPrincipal;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  h3 {
    color: #808080;
    font-size: 1.2rem;
    padding-top: 1.25rem;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
  }
  @include bp-lt(#{$nav--offcanvas--bp}px) {

    padding: rem(20) 0;
  }
  min-height: inherit;
  figure {
    padding: 0;
    margin: 0;
    text-align: center;
    &.img-cadre{
      max-height: 312px;
      overflow: hidden;
    }
    &.company-map {
      width: 100%;
      padding: rem(100) 0 0;
      img{
        max-width: 52%;
      }
    }
  }
  .caption {
    padding-top: rem(10);
    span {
      display: block;
      &:first-child {
        font-size: rem(17);
        font-weight: 700;
      }
      &:last-child {
        /*font-size: rem(16);
        font-weight: 300;*/
        font-size: 1.1rem;
      }
    }
  }

  .biography-text {
    padding: rem(50) 0 0;
    .desc {
      background: #fff;
      padding: rem(30);
      text-align: justify;
      border: 1px solid #930044;
      @include bp-lt(#{$nav--offcanvas--bp}px) {
        padding: rem(10);
        margin-top: rem(30);
      }
    }
  }
  .list-view {
    margin: rem(30);
    .row {
      .column {
        h2 {

          padding: rem(20);
          @include box-shadow(-0.5px, 0px, 5px, rgba(0, 0, 0, 0.10), false);
          //height: 100%;
          font-size: rem(20);
          vertical-align: middle;
          position: relative;
          line-height: 120px;
          background: rgba(241, 241, 241, 0.61);
          span {
            line-height: 1.2;
            vertical-align: middle;
            display: inline-block;
          }
          &:before {
            width: rem(10);
            height: rem(10);
            background: $colorPrincipal;
            position: absolute;
            left: 0;
            top: 0;
            content: "";
          }

        }
      }
    }
  }

  .section-article {
    padding: rem(35) 0;
  }
  .offer-value {
    text-align: center;
    padding: rem(50);
    background: #f121;
    margin: 60px auto;
    h2 {
      color: $colorPrincipal;
    }
    > div {
      &:before {
        content: "";
        width: rem(32);
        height: rem(32);
        display: inline-block;
        margin: rem(10);
        background: url('../media/icons/guillemet.png');
        float: left;
      }

      &:after {
        content: "";
        width: rem(32);
        height: rem(32);
        display: inline-block;
        margin: rem(10);
        background: url('../media/icons/guillemet.png');
        float: right;
        transform: rotate(180deg);
      }
      p {
        padding: 0 rem(50);
        clear: both;
      }
    }
  }
  .cta-to-references {
    display: block;
    width: 100%;
    padding: 5.25rem 0 0;
    text-align: center;
    a {
      @include btnDefault(#c15b80, $white, transparent, #c15b80, #c15b80, transparent);
    }
  }
}

.clients {
  line-height: normal;
  //background-color: #e9e9e9;
  display: block;
  width: 100%;
  .logo-grid {
    padding: 0 40px;
    text-align: center;
    @include bp-lt(#{$nav--offcanvas--bp}px) {
      padding: 0 0px;
    }
    .logo-grid-item {
      text-align: left;
      margin: auto;
      padding: 0px;
      .logo-grid-inner {
        position: relative;
        width: 215px;
        height: 215px;
        margin-bottom: 15px;
        background: #fff;
        overflow: hidden;
        display: inline-block;
        margin-right: 15px;
        width: calc((100% / 5) - 15px);
        @include box-shadow(-0.5px, 0px, 5px, rgba(0, 0, 0, 0.10), false);
        div{
        }

        @include bp-gt(1000px) {


        }

        @include bp-lt(#{$nav--offcanvas--bp}px) {

          width: 120px;
          height: 105px;

        }

        @include bp-lt(500px) {

          width: 90px !important;
          height: 90px !important;

        }
        a {
          img {
            width: 80%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

           // webkit-filter: grayscale(100%);
           // filter: grayscale(100%);
            transition: all 500ms;
            width: 140px !important;
            &:hover {
              -webkit-filter: grayscale(0%);
              filter: grayscale(0%);

            }
          }
        }

        &:nth-child(7n+2), &:nth-child(7n+4), &:nth-child(7n+6) {

        }
      }
    }
  }

}

.latest-news {
  line-height: normal;
  //max-height: rem(700);
}

.swiper-news {
  %transition_all_03s {
    transition: all .3s ease;
  }
  %backface_visibility_hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .swiper-container {
    width: 80%;
    height: 700px;
    // display:inline-block;
    // vertical-align:top;
    float: left;
    @include bp-lt(#{$nav--offcanvas--bp}px) {

      width: 100%;
      height: 80vh;

    }
    transition: opacity .6s ease, transform .3s ease;
    &.nav-slider {
      width: 20%;
      padding-left: 5px;

      @include bp-lt(#{$nav--offcanvas--bp}px) {

        display: none;

      }
      .swiper-slide {
        cursor: pointer;
        @include bp-lt(#{$nav--offcanvas--bp}px) {

          display: none;

        }
        opacity: .4;
        transition: opacity .3s ease;
        &.swiper-slide-active {
          opacity: 1;
        }
        .content {
          width: 100%;
          .title {
            font-size: 20px;
          }
        }
      }
    }
    &:hover {
      .swiper-button-prev,
      .swiper-button-next {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
    &.loading {
      opacity: 0;
      visibility: hidden;
    }
  }
  .swiper-wrapper {

  }
  .swiper-slide {
    overflow: hidden;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      min-height: 100%;
      top: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 2;
    }
    .content {
      position: relative;
      z-index: 3;
    }
    @extend %backface_visibility_hidden;
    .slide-bgimg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
    .entity-img {
      display: none;
    }
    .content {
      position: absolute;
      top: 40%;
      left: 0;
      width: 50%;
      padding-left: 5%;
      color: #fff;

      @include bp-lt(#{$nav--offcanvas--bp}px) {

        top: 50%;
        transform: translateY(-50%);
        width: 100%;

      }
      .title {
        font-size: rem(45);
        font-weight: bold;
        margin-bottom: 30px;

        @include bp-lt(#{$nav--offcanvas--bp}px) {

          font-size: rem(25);

        }
      }
      .caption {
        display: block;
        font-size: rem(20);
        line-height: 1.4;
        transform: translateX(50px);
        opacity: 0;
        transition: opacity .3s ease, transform .7s ease;
        &.show {
          transform: translateX(0);
          opacity: 1;
        }
      }
      .cta {
        padding: rem(20) 0;
        transform: translateX(50px);
        opacity: 0;
        transition: opacity .3s ease, transform .7s ease;
        &.show {
          transform: translateX(0);
          opacity: 1;
        }
        a {

          &.btn-link {
            @include btnDefault($white, #c15b80, transparent, $white, $white, transparent);
          }
        }
      }
    }
  }
  [class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
    @extend %transition_all_03s;
  }
  .swiper-button-prev {
    transform: translateX(50px);
  }
  .swiper-button-next {
    transform: translateX(-50px);
  }
}

.what-we-do {
  line-height: normal;
  article {
    //margin-bottom: rem(50);
    //padding: 30px;

    @include bp-lt(#{$nav--offcanvas--bp}px) {

      padding: rem(30) 0px;

    }

    > div {
      //height: 100%;
    }
    text-align: center;
    h2 {
      color: $colorPrincipal;
    }
    p {
      font-size: 1.1rem;
      min-height: 12rem;

    }
    span {
      font-size: rem(80);
      display: block;
      i {
        display: inline-block;
      }
    }
  }
}

.intro {
  min-height: calc(100vh - 125px);
  padding: 0;
  //line-height: 100vh;
  //  background: $colorBgIntro;
  position: relative;
  &:before{
    position : absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
  }
  .video-content {
    position: absolute;
    width: 100%;
    //height: 100%;
    left: 0;
    top: 0;
    video {

      width: 100%;
      height: 100%;
    }
  }
  //overflow: hidden;
  .section-wrapper {
    //display: inline-block;
    width: 100%;
    //line-height: 1.2;
    vertical-align: middle;
    //position: relative;
    z-index: 2;
    position: absolute;
    //top: 50%;
    //transform: translateY(-50%);
    height: 100%;

  }
  .section-content {
    position: relative;

    .columns {
      padding: 0;
      margin: 0;

    }

    .inner-side {
      max-width: rem(800);
      margin: auto;

    }
    .visu {
      position: absolute;
      width: 100%;
      height: 100%;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        min-height: calc(100vh - 125px);
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
        opacity: 0;
        transition: $ease;
      }
      img {

      }
      &.initial{
        .sik-loader{
          display: none;
        }
        &:before {
          opacity: 1;
        }
      }
    }
    h1 {
      color: $white;
      font-size: rem(35);
      font-weight: 300;
      opacity: 0;
      transition: $ease--long;
      transform: translateX(50px);
      text-align: center;
      text-transform: none;

      @include bp-lt(#{$nav--offcanvas--bp}px) {
        font-size: rem(25);

      }
      span {
        display: inline-block;
        font-weight: 700;
        font-size: rem(52);
        @include bp-lt(#{$nav--offcanvas--bp}px) {
          font-size: rem(40);

        }
        //padding: 0 rem(20);
        text-align: center;
        text-transform: capitalize;
        background: transparent;
        color: $colorTextTag;
        margin-left: rem(10);
        white-space: nowrap;
        transition: $ease--long;
        transform: translateX(100px);
        opacity: 0;
        transform: skewX(10.9deg);
        display: block;

      }
    }
    .swiper-slide-active {
      h1 {
        opacity: 1;
        transform: translateX(0px);
        span {
          transform: translateX(0%);
          opacity: 1;
          //background: $colorBgTag;

        }
      }
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    line-height: calc(100vh - 125px);
    height: calc(100vh - 125px);
    position: relative;
    > div {
      &.inner-side {
        z-index: 99;
        line-height: 1.2;
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 50%;
        transform: translate(-50%, -50%);

        @include bp-lt(#{$nav--offcanvas--bp}px) {
          max-width: none;
          width: 100%;

        }
      }
    }
  }
  &:before {
    //  content: "";
    /*  position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transform: skewY(-170.9deg);
      background: #e95800;
      transform-origin: 50% 50%;*/
  }
  &:after {
    /* content: "";
     position: absolute;
     bottom: 0;
     right: 0;
     left: 0;
     top: 0;
     transform: skewY(170.9deg);
     background: $colorIntoAfter;
     //background: #33241b;
     transform-origin: 0% 0%;*/

  }
}


.job{
  .page-content{
    padding-bottom: 0;

  }
  footer{
    margin-top: 0;
  }
}
.job-wrapper{
  .form-postuler{
    display: none;
  }
  ul{
    list-style: none;
    padding: 0;
    &.job-lists{

      li{
        //background: #f1f1f1;
        padding-bottom: rem(10);
        //margin-bottom: rem(10);
        border-bottom: rem(1) solid rgba(0,0,0,0.05);
        padding: rem(30) rem(0);

        background: #fff;
        overflow: hidden;
        &:nth-child(even){
          background: rgba(241, 241, 241, 0.34);
        }
        .job-item{
          .row{
            margin: 0;
            .column{
              @include bp-lt(#{$nav--offcanvas--bp}px) {
                padding-bottom: rem(20);
              }
            }
          }
          dl{
            dt{
              &:first-child{
                padding-top: rem(0);
              }

              padding-top: rem(10);
              font-weight: 700;
              margin-bottom: rem(10);
            }
            dd{
              padding-bottom: rem(5);
              margin: 0;

            }
          }
          span{
            &.label{
              display: block;
              padding: rem(10) 0;

              font-weight: 700;
              color: rgba(0,0,0,0.5);
              text-transform: capitalize;
              font-size: rem(18);
               + p, + dl{
                 padding: 0;
                 margin: 4px 0;
               }
            }
          }
          h2{
              font-size: rem(18);
            margin: 0;

          }
          span{
           em{
             display: block;
             font-style: normal;
           }
          }
          a{
            @include btnDefault(#c15b80, $white, transparent, #c15b80, #c15b80, transparent);
            padding:  rem(10);
            margin:  0 rem(5);
            position: relative;
            min-width: rem(150);
            min-height: rem(41);
            overflow: hidden;
            vertical-align: top;
            span{
              position: absolute;
              left: 50%;
              top:50%;
              width: 100%;
              text-align: center;
              transform: translate(-50%,-50%);
              //transition: $ease;
              &:last-child{
                transform: translate(50%, -50%);

              }
            }

          }
          &.opened{
            .row{
              .column{
                width: 100%;
                max-width: 100%;
                flex: 0 0 100%;
                //padding-bottom: rem(20);
                .hide, &.hide{
                  display: block!important;
                }
                dl, h2,.city-name, .profil-desc{
                  em{
                    font-style: normal;
                  }
                }
                span{
                  &.label{
                  }
                }
                .toggle-content{
                }
                .cta{
                  float: right;
                  padding-right: 25px;
                }
              }

            }
            a{
              span {

                transform: translate(-150%, -50%);
                &:last-child {
                  transform: translate(-50%, -50%);

                }
              }
            }
          }
        }

      }
    }
  }
}
.condidature-wraper{
  text-align: center;
  padding: rem(80) 0;
  margin-top: rem(100);
  background: #f1f1f1;
  .desc{
    h2{
      text-transform: uppercase;
      display: none;
    }
    p{
      padding: 1.875rem 0;
      text-align: center;
      font-size: 1.4rem;

    }
  }
  .cta{
    a{

      @include btnDefault(#c15b80, #c15b80, transparent, transparent, #c15b80, #c15b80);
      &:hover{
        @include btnDefault($white, $white, #c15b80, #c15b80, #c15b80, #c15b80);

      }
    }
  }
}



$cubeSize: 3em;
$light: $colorPrincipal;
$dark: #fff;

.sik-loader {
  width: $cubeSize;
  height: $cubeSize;
  animation: loaderAnim 1.25s infinite ease-in-out;
  outline: 1px solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -0%) scale(0.9);
  opacity: 1;
  z-index: 999;
  .largeBox {
    height: $cubeSize;
    width: $cubeSize;
    background-color: $light;
    outline: 1px solid transparent;
    position: fixed;
    border-radius: 5px;
  }
  .smallBox {
    height: $cubeSize;
    width: $cubeSize;
    background-color: $dark;
    position: fixed;
    z-index: 1;
    outline: 1px solid transparent;
    animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
  }
}

@keyframes smallBoxAnim {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes loaderAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.page-content{

  .listing-items-cat{

    .et_pb_post{
      .et_pb_image_container{
        .post-date{
          position: relative;
          display: block;
          color: #adb0b6;
          font-size: 1rem;
          padding: 6px 22px;
          font-weight: bold;
          /* display: none; */
          text-align: left;
          background: none;
          margin-top: 6px;
        }
      }
      .listing-items-cat .et_pb_post .et_pb_image_container {
        margin: -20px -20px 18px;
        position: relative;
      }
      a.entry-featured-image-url {
        display: block;
        height: 200px;
        overflow: hidden;
        img{
          max-width: none;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 980px)
{
  header{
    .logo {
      display: inline-block;
      position: relative;
      width: auto;
      height: auto;
      line-height: normal;
      max-width: 9.0625rem;
      text-align: left;
      border: none;
      top: 0;
      img{
        max-width: 100%;
      }
    }
  }
}
