// ========================================= //
// navOffCanvas
// ========================================= //

$border--offcanvas: solid rem(1) rgba($white, .1);
$navBackgrond : #ab1054;
$navColor : $white;

.o-nav {
    @include bp-lt(#{$nav--offcanvas--bp}px) {
        margin-top: 0;
        position: fixed;
        right: 0;
        z-index: 999999;
        width: rem($offCanvas--width);
        border-left: $border--offcanvas;
        background: $navBackgrond;

        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        -ms-overflow-style: none;
        height: calc(100vh - 91px);
        &::-webkit-scrollbar { width: 0 !important }

        .c-nav__level0 {
            padding-left: 0;
            height: auto;
            margin-top: rem(20);

            &:before { display: none; }

            > li {
                position: relative;
                display: block;
                width: 100%;
                float: none;
                border-bottom: $border--offcanvas;

                a {
                    padding-left: rem(20);
                    padding-right: rem(20);
                    height: rem($offcanvas--nav--item--height);
                    text-align: left;
                    color: $navColor;

                    &:hover {
                        background: $navColor;
                        color: $navBackgrond;
                    }
                    &.is-active{
                        background: $white;

                        color: $colorPrincipal;
                        border: 0;
                    }
                }
            }
        }

        .c-nav__level1 {
            position: fixed;
            z-index: 110;
            top: 0;
            display: block;
            float: none;
            width: rem(280);
            left: inherit!important;
            height: 100%;
            transform: inherit;
            background: $navBackgrond!important;
            padding-top: 0;
            padding: 0px!important;
            margin-top: 0px!important;
            border-left: $border--offcanvas;
            padding-bottom: 1.5rem!important;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            overflow-scrolling: touch;
            -ms-overflow-style: none;
            &::-webkit-scrollbar { width: 0 !important }

            > li {
                position: relative;

                a {
                    height: rem($offcanvas--nav--item--height);
                    color: $navColor;
                    border-bottom: $border--offcanvas;
                }
            }
        }
    }

    .c-nav__show {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: rem($offcanvas--nav--item--height);
        height: rem($offcanvas--nav--item--height);
        background: $navBackgrond;
        border-left: $border--offcanvas;
        text-align: center;
        color: $white;
        font-size: rem(20);
        cursor: pointer;
        transition: $ease;
        z-index: $zindex--hover;

        @include bp-lt(#{$nav--offcanvas--bp}px) {
            @include alignTextMiddle;
        }

        &:hover {
            background: $white;
            color: $navBackgrond;
        }

        [class*='c-fpca__icon'] {
            position: relative;
            top: rem(2);
        }
    }

    li.c-nav__hide {
        position: relative;
        display: none !important;
        width: 100%;
        height: rem($offcanvas--nav--item--height);
        color: $white;
        border-bottom: $border--offcanvas;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        @include bp-lt(#{$nav--offcanvas--bp}px) {
            display: block !important;
        }

        .c-text {
            font-size: rem(18);
            font-family: $nav--fontfamily;
            height: 100%;
            @include alignTextMiddle;
        }

        [class*='c-fsik__icon'] {
            position: absolute;
            top: 0;
            left: 0;
            width: rem($offcanvas--nav--item--height);
            height: rem($offcanvas--nav--item--height);
            border-right: $border--offcanvas;
            background: transparent;
            transition: $ease;

            &:before {
                position: absolute;
                top: rem(12);
                left: rem(12);
                font-size: rem(20);
            }
        }

        &:hover {
            [class*='c-fsik__icon'] {
                background: $white;
                color: $mainBranding;
            }
        }
    }
}

.o-nav,
.o-nav .c-nav__level1 {
    transition: $ease;

    @include bp-lt(#{$nav--offcanvas--bp}px) {
        right: 0;
        transform: translateX(100%);
    }

    &.is-inViewport {
        @include bp-lt(#{$nav--offcanvas--bp}px) {
            transform: translateX(0)!important;
        }
    }
}

.c-nav__icon {
    $sideMenu: rem(30);
    position: relative;
    display: none;
    width: rem($offcanvas--nav--item--height);
    height: rem($offcanvas--nav--item--height);
    position: absolute;
    right: rem(10);
    bottom:rem(0);
    //margin-top: rem(-20);

    background: $colorPrincipal;

    @include bp-lt(#{$nav--offcanvas--bp}px) {
        display: block;
    }

    span {
        $strokeHeight: rem(3);

        display: block;
        text-indent: -9999px;
        width: $sideMenu;
        height: $strokeHeight;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        transition: $ease;

        &:before,
        &:after {
            display: block;
            position: absolute;
            content: '';
            width: $sideMenu;
            height: $strokeHeight;
            transition: $ease;
            border-radius: rem(2);
        }

        &:before {
            top: rem(-11);
            transform: rotate(0deg);
        }

        &:after {
            bottom: rem(-11);
            transform: rotate(0deg);
        }
    }

    span, span:before, span:after {
        background: $white;
    }

    &.is-active {
        span {
            background-color: transparent;

        &:before {
                top: 0;
                transform: rotate(45deg);
            }

            &:after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

.c-nav__close {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba($mainBranding, .6);
    @include animation('displayNoneToFadeIn .4s 1');

    &.is-active {
        display: block;
    }
}
