// ========================================= //
// nav
// ========================================= //

.o-nav {
    position: relative;
    float: right;
    clear: right;
    width: calc(100% - 147px);
    margin-top: rem(15);

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .c-nav__level0 {
        display: block;

        position: relative;
        text-align: right;
        width: 100%;
        height: rem($nav--height);
        @include clearfix;
        @include inlineblockHolder;
        > li {
            position: relative;
            display: inline-block;
            width: auto;
            @include inlineblockItem;
            padding: 0 rem(20);
            &:last-child{
                padding: rem(0);

            }

            @include bp-lt(#{$nav--offcanvas--bp}px) {

                padding: rem(0);

            }
            > a {
                //border:1px solid transparent;
                position: relative;
                //z-index: $zindex--hover--;
                height: rem($nav--height);
                width: 100%;
                padding-left: rem($nav--itemPadding);
                padding-right: rem($nav--itemPadding);
                text-align: center;
                color: $nav--color;
                font-family: $nav--fontfamily;
                font-size: rem($nav--fontsize);
                transition: $ease;
                background: transparent;
                //text-transform: uppercase;
                @include alignTextMiddle;
                font-weight: 500;
                &:after{
                    transition: $ease;
                    content: '';
                    width: 0;
                    height: 1px;
                    background: $white;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);

                }

                &:hover, &.is-active {
                    &:after{
                        width: 100%;
                    }
                 //   background: $nav--background--active;
                  //  color: $colorPrincipal;
                  //  border: 1px solid $colorPrincipal;

                }
                &.has-submenu{
                    &:after{
                       // content:"";
                    /*    width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid $colorPrincipal;
                        display: inline-block;
                        position: absolute;
                        right: 5px;
                        opacity: 0.3;
                        top:50%;*/

                    }


                }
            }
            &.search{
                .search-content{
                    form{
                        fieldset{
                            border:0;
                            padding: 0;
                        }
                    }
                    .field{
                        display: none;
                        input[type="text"]{

                        }
                        &.cta-submit{
                            display: block;
                            button{
                                cursor: pointer;
                                background: transparent;
                                padding: 0;
                                margin: 0;
                                border:0;
                                span{
                                    i{
                                        font-size: rem(20);
                                        display: inline-block;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .c-nav__level1 {
        display: none;
        position: absolute;
        z-index: $zindex--content;
        left: 0;
        width: 100%;
        min-width: rem($nav--item--level1--minWidth);
        background: $nav--background--active;
        padding-top: rem(24);
        padding-bottom: rem(24);-webkit-box-shadow: 0px 6px 20px -2px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 6px 20px -2px rgba(0,0,0,0.2);
        box-shadow: 0px 6px 20px -2px rgba(0,0,0,0.2);

        &.is-visible {
            display: block;
        }

        li {
            display: block;
            width: 100%;
            padding-left: rem(24);
            padding-right: rem(24);
            margin-bottom: rem(10);
            text-align: left;

            @include bp-lt($desktop) {
                margin-bottom: 0;
                padding: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        a {
            position: relative;
            display: inline-block;
            font-size: rem(14);
            font-family: $nav--fontfamily;
            background: transparent;
            transition: $ease;
            color: $nav--color--active;

            @include bp-lt($desktop) {
                display: block;
                width: 100%;
                padding-top: rem(12);
            }

            &:before {
                //content: '';
                color:  $nav--color--active;
                margin-right: rem(7);
                transition: $ease;

                @include bp-lt($desktop) {
                    display: none;
                }
            }

            &:after {
                @include bp-lt($desktop) {
                    display: none !important;
                }
            }
            &:hover:before, &.is-active:before{
                margin-right: rem(0);
                //content: '\f105';
                font-family: FontAwesome;
                color: $colorPrincipal;
            }
            &:hover,  &.is-active{
                color: $colorPrincipal;

            }
        }
    }

}

.no-touchevents {

}
.o-nav .c-nav__level0 > li:hover {
    & > a {
        //background: $nav--background--active;
       // color: $colorPrincipal;
       // border: 1px solid $colorPrincipal;
        &.is-active{
            border: none;
        }
        &.has-submenu{
            border-color: transparent;
        }
    }

    & > .c-nav__level1 {
        display: block;
        @include bp-gt(#{$nav--offcanvas--bp}px) {
            @include animation('displayNoneToFadeIn .4s 1');
        }
    }
}
.o-nav  li.has-sub-submenu{
    .c-nav__level1{
        left: 96%;
        margin-top: -28px;
        background: #ffffff;
        padding: 10px 0px;
        li{
            a{
                // color: #fff;
                &:hover{
                    //   color: #fff;
                }
            }
        }
    }
}
.o-nav li.has-sub-submenu:hover {
    .c-nav__level1 {
        display: block;
        @include bp-gt(#{$nav--offcanvas--bp}px) {
            @include animation('displayNoneToFadeIn .4s 1');
        }
    }
}