.plandesite {
  .sitemap {

    #primaryNav li {
      width: 25%;
    }

    #primaryNav li ul li {
      width: 100% !important;
    }

    #primaryNav.col1 li {
      width: 99.9%;
    }
    #primaryNav.col2 li {
      width: 50.0%;
    }
    #primaryNav.col3 li {
      width: 33.3%;
    }
    #primaryNav.col4 li {
      width: 25.0%;
    }
    #primaryNav.col5 li {
      width: 20.0%;
    }
    #primaryNav.col6 li {
      width: 16.6%;
    }
    #primaryNav.col7 li {
      width: 14.2%;
    }
    #primaryNav.col8 li {
      width: 12.5%;
    }
    #primaryNav.col9 li {
      width: 11.1%;
    }
    #primaryNav.col10 li {
      width: 10.0%;
    }
    .c-nav__hide {
      display: none;
    }
    #primaryNav {
      margin: 0;
      float: left;
      width: 100%;
      #home {
        display: block;
        float: none;
        background: #ffffff;
        position: relative;
        z-index: 2;
        padding: 0 0 30px 0;
      }
      li {
        float: left;
        padding: 30px 0;
        margin-top: -30px;
        a {
          margin: 0 20px 0 0;
          padding: 10px 0;
          display: block;
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          color: $white;
          background: rgba(1,90,148,1);
          border-color: rgba(1,90,148,0.09);
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
          -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
          /* FF 3.5+ */
          &:hover {
            background-color: #e2f4fd;
            border-color: #97bdcf;
            color: rgba(1,90,148,1);
          }
        }
        &:last-child {
        }
      }
    }

    a {
      &:link:before, &:visited:before {
        content: " " attr(href) " ";
        display: block;
        text-transform: uppercase;
        font-size: 10px;
        margin-bottom: 5px;
        word-wrap: break-word;
      }
    }

    #primaryNav li {
      a {
        &:link:before, &:visited:before {
          color: #78a9c0;
        }
      }
      li {
        width: 100%;
        clear: left;
        margin-top: 0;
        padding: 10px 0 0 0;
        a {
          background: rgba(1,90,148,0.1);
          border-color: rgba(1,90,148,0.2);
          color: rgba(1,90,148,1);
          &:hover {
          }
        }
        &:first-child {
          padding-top: 30px;
        }
        &:last-child {
        }
        a {
          &:link:before, &:visited:before {
            color: rgba(1,90,148,0.2);
          }
        }
        ul {
          margin: 10px 0 0 0;
          width: 100%;
          float: right;
          padding: 9px 0 10px 0;
        }
        li {

          padding: 5px 0;
          a {
            background-color: #fff7aa;
            border-color: #e3ca4b;
            font-size: 12px;
            padding: 5px 0;
            width: 80%;
            float: right;
            &:hover {
              background-color: #fffce5;
              border-color: #d1b62c;
            }
          }
          &:first-child {
            padding: 15px 0 5px 0;
          }
          &:last-child {
          }
          a {
            &:link:before, &:visited:before {
              color: #ccae14;
              font-size: 9px;
            }
          }
        }
      }
    }

    /* --------	Second Level --------- */

    /* --------	Third Level --------- */

    /* ------------------------------------------------------------
        Utility Navigation
    ------------------------------------------------------------ */

    #utilityNav {
      float: right;
      max-width: 50%;
      margin-right: 10px;
      li {
        float: left;
        margin-bottom: 10px;
        a {
          margin: 0 10px 0 0;
          padding: 5px 10px;
          display: block;
          border: 2px solid rgba(0, 145, 54,0.1);
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          color: black;
          background: rgba(0, 145, 54,0.09);
          -moz-border-radius: 0px;
          -webkit-border-radius: 0px;
          -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
          -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
          /* FF 3.5+ */
          &:hover {
            background-color: $colorPrincipal;
            color: $white;
          }
          &:link:before, &:visited:before {
            color:  rgba(0, 145, 54,0.3);
            font-size: 9px;
            margin-bottom: 3px;
          }
          i{
            display: inline-block;
            vertical-align: middle;
            padding-right: 10px;
          }
        }
      }
    }
  }

}
