// ========================================= //
// ui
// ========================================= //

::-moz-selection { color: $selectionColor;  background: $selectionBackground; }
::selection      { color: $selectionColor;  background: $selectionBackground; }

* {
    outline: none;
}

html {
    box-sizing: border-box;
}
body{
    font-family: $fontFamily;
    overflow-x: hidden;
  &.is-loading{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    header, footer, main{
      visibility: hidden;
    }
  }
  &.is-fixed{
    header{
      z-index: 99999;
    }
  }
}
.mbm-SVG-icons{
  display: none;
}
*, *:before, *:after {
    box-sizing: inherit;
}


// over write foundation row
// .row {
//     max-width: $layoutWidth;

//     &.row--full {
//         max-width: 100%;
//     }

//     .row {
//         margin: 0 -1*$gutter;
//     }

//     [class*='column'] {
//         padding-left: $gutter;
//         padding-right: $gutter;
//     }
// }
