// COMMON TAGS
meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
// BEGIN SEOmatic rendered SEO Meta
title Spécialiste de la gestion immobilière | THAÏS
// {% if craft.config.devMode %}[devMode] {% endif %}{% if seomaticSiteMeta.siteSeoTitlePlacement == "before" %}{{ seomaticSiteMeta.siteSeoName |raw }}{% if seomaticMeta.seoTitle %} {{ seomaticSiteMeta.siteSeoTitleSeparator }} {% endif %}{% endif %}{{ seomaticMeta.seoTitle |raw }}{% if seomaticSiteMeta.siteSeoTitlePlacement == "after" %}{% if seomaticMeta.seoTitle %} {{ seomaticSiteMeta.siteSeoTitleSeparator }} {% endif %}{{ seomaticSiteMeta.siteSeoName |raw }}{% endif %}
// Standard SEO
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='referrer', content='no-referrer-when-downgrade')
meta(name='robots', content='all')
// {{ seomaticMeta.robots }}
meta(name='keywords', content='Gestion immobilière, Asset Management, Property Management, Facility Management, Project Management, Gestion locative, Gestion de copropriétés, Maintenance multi-techniques, biens immobiliers')
// {{ seomaticMeta.seoKeywords }}
meta(name='description', content='THAÏS est un acteur majeur du Property Management et du Facility Management sur le territoire marocain.')
// {{ seomaticMeta.seoDescription }}
meta(name='generator', content='SEOmatic')
// SEOmatic
link(rel='canonical', href='https://www.thais.ma/')
// {{ seomaticMeta.canonicalUrl }} (defaults to craft.request.url)
link(rel='alternate', href='https://www.thais.ma/', hreflang='x-default')
meta(name='geo.region', content='Casablanca')
// {{ seomaticIdentity.address.addressRegion }}
meta(name='geo.position', content='33.592998,-7.620568')
// {{ seomaticIdentity.location.geo.latitude }},{{ seomaticIdentity.location.geo.longitude }}
meta(name='ICBM', content='33.592998,-7.620568')
// {{ seomaticIdentity.location.geo.latitude }},{{ seomaticIdentity.location.geo.longitude }}
meta(name='geo.placename', content='THAÏS')
// {{ seomaticIdentity.location.name }}
// Dublin Core basic info
meta(name='dcterms.Identifier', content='https://www.thais.ma/')
// {{ seomaticMeta.canonicalUrl }} (defaults to craft.request.url)
meta(name='dcterms.Format', content='text/html')
// text/html
meta(name='dcterms.Relation', content='THAÏS')
// {{ seomaticSiteMeta.siteSeoName }}
meta(name='dcterms.Language', content='fr')
// {{ craft.locale }}
meta(name='dcterms.Publisher', content='THAÏS')
// {{ seomaticSiteMeta.siteSeoName }}
meta(name='dcterms.Type', content='text/html')
// text/html
meta(name='dcterms.Coverage', content='https://www.thais.ma/')
// {{ siteUrl }}
meta(name='dcterms.Rights', content='Copyright ©2018 THAÏS.')
// {{ seomaticHelper.ownerCopyrightNotice }}
meta(name='dcterms.Title', content='Spécialiste de la gestion immobilière')
// {{ seomaticMeta.seoTitle }}
meta(name='dcterms.Creator', content='Sikoro')
// {{ seomaticCreator.name }}
meta(name='dcterms.Subject', content='Gestion immobilière, Asset Management, Property Management, Facility Management, Project Management, Gestion locative, Gestion de copropriétés, Maintenance multi-techniques, biens immobiliers')
// {{ seomaticMeta.seoKeywords }}
meta(name='dcterms.Contributor', content='THAÏS')
// {{ seomaticSiteMeta.siteSeoName }}
meta(name='dcterms.Date', content='2018-03-22')
// {{ now | date('Y-m-d') }}
meta(name='dcterms.Description', content='THAÏS est un acteur majeur du Property Management et du Facility Management sur le territoire marocain.')
// {{ seomaticMeta.seoDescription }}
// Facebook OpenGraph
meta(property='og:type', content='website')
// {{ seomatic.og.type }}
meta(property='og:locale', content='fr_FR')
// {{ seomatic.og.locale }}
meta(property='og:url', content='http://lesparquets.sikoro.ma')
// {{ seomatic.og.url }}
meta(property='og:title', content='Spécialiste de la gestion immobilière | THAÏS')
// {{ seomatic.og.title }}
meta(property='og:description', content='THAÏS est un acteur majeur du Property Management et du Facility Management sur le territoire marocain.')
// {{ seomatic.og.description }}
meta(property='og:image', content='https://www.thais.ma/wp-content/themes/thais/assets/media/share/Fb-thais-Share-Image@2X-2.png')
// {{ seomatic.og.image }}
meta(property='og:image:type', content='image/png')
// {{ seomatic.og.image:type }}
meta(property='og:image:width', content='2400')
// {{ seomatic.og.image:width }}
meta(property='og:image:height', content='1260')
// {{ seomatic.og.image:height }}
meta(property='og:site_name', content='THAÏS')
// {{ seomatic.og.site_name }}
meta(property='og:see_also', content='https://twitter.com/THAIS_Maroc')
// {{ seomatic.og.see_also[0] }}
meta(property='og:see_also', content='https://web.facebook.com/THAIS-Maroc')
// {{ seomatic.og.see_also[1] }}
meta(property='og:see_also', content='https://www.linkedin.com/company-beta/10635970/')
// {{ seomatic.og.see_also[2] }}
// Twitter Card
meta(name='twitter:card', content='summary_large_image')
// {{ seomatic.twitter.card }}
meta(name='twitter:site', content='@https://twitter.com/THAIS_Maroc')
// {{ seomatic.twitter.site }}
meta(name='twitter:creator', content='@https://twitter.com/THAIS_Maroc')
// {{ seomatic.twitter.creator }}
meta(name='twitter:title', content='Spécialiste de la gestion immobilière | THAÏS')
// {{ seomatic.twitter.title }}
meta(name='twitter:description', content='THAÏS est un acteur majeur du Property Management et du Facility Management sur le territoire marocain.')
// {{ seomatic.twitter.description }}
meta(name='twitter:image', content='https://www.thais.ma/wp-content/themes/thais/assets/media/share/Fb-thais-Share-Image@2X.png')
// {{ seomatic.twitter.image }}
// Humans.txt authorship http://humanstxt.org
link(type='text/plain', rel='author', href='/humans.txt')
// Domain verification
meta(name='google-site-verification', content='8f9fd1b8d8831864')
// {{ seomaticHelper.ownerGoogleSiteVerification }}
// Google Tag Manager
// Google Analytics

link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='https://www.thais.ma/wp-content/themes/thais/assets/media/share/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='https://www.thais.ma/wp-content/themes/thais/assets/media/share/favicon-16x16.png')
link(rel='manifest', href='https://www.thais.ma/wp-content/themes/thais/assets/media/share/site.webmanifest')
link(rel='mask-icon', href='https://www.thais.ma/wp-content/themes/thais/assets/media/share/safari-pinned-tab.svg', color='#5bbad5')
meta(name='msapplication-TileColor', content='#da532c')
meta(name='theme-color', content='#AC1652')


script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-115209706-1', 'auto', {allowLinker: true});
    ga('require', 'displayfeatures');
    ga('require', 'linkid');
    ga('require', 'linker');
    ga('send', 'pageview');
// END SEOmatic rendered SEO Meta
