footer#footer.footer
    .footer-wrap
        .row.expanded
            .large-3.medium-3.small-12.column
                ul
                    li
                        a(href='http://thais.ma/qui-sommes-nous/lentreprise/') Entreprise
                    li
                        a(href='http://thais.ma/nos-references/actifs-immobiliers/') Actifs immobiliers
                    li
                        a(href='http://thais.ma/blog/') Actualité
                    li
                        a(href='/jobs-2/') Carrière
            .large-3.medium-3.small-12.column
                ul
                    li
                        a(href='http://thais.ma/nos-metiers/asset-management/') Asset Management
                    li
                        a(href='http://thais.ma/nos-metiers/property-management/') Property Management
                    li
                        a(href='http://thais.ma/nos-metiers/facility-management/') Facility Management
                    li
                        a(href='http://thais.ma/nos-metiers/project-management/') Project Management
            .large-3.medium-3.small-12.column
                .contact-info
                    div
                        i.c-fsik__icon--marker
                        span  CITY PARK CENTER – Porte 4<br>106, rue Abderrahmane Sahraoui 20070 Casablanca – Maroc
                    div
                        i.c-fsik__icon--tel
                        span +212 5 22 77 70 80
                    div
                        i.c-fsik__icon--fax
                        span +212 5 22 77 74 37
                    div
                        i.c-fsik__icon--mail
                        span contact@thais.ma
            .large-3.medium-3.small-12.column
                .groupe-mention
                    span Une société de
                    a(href='http://www.tenorgroup.ma/', target='_blank')
                        img(style='margin:auto;width:70px !important;height:auto;', src='http://thais.lifemoz-dev.com/wp-content/uploads/sites/108/2016/12/Logo-Teenor-Group.png')


    .btm-copyright
        .footer-wrap
            div.copyright-content
                a(href='http://thais.ma/')
                    img.preload-me(src='http://thais.ma/wp-content/uploads/2017/01/thais.png', srcset='http://thais.ma/wp-content/uploads/2017/01/thais.png 922w, http://thais.ma/wp-content/uploads/2017/01/thais.png 922w', width='922', height='247', sizes='922px', alt='THAÏS')
                span 2017 © Tous droits réservés