.head-col
    .top-bar
        ul#top-menu
            li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-910.first
                a(href='http://thais.ma/blog/', data-level='1')
                    span.menu-item-text
                        span.menu-text Actualité
            li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-911
                a(href='job.html', data-level='1')
                    span.menu-item-text
                        span.menu-text Carrière
    .soc-ico
        a.facebook(title='Facebook', href='https://web.facebook.com/THAIS-Maroc-123885027990820/?fref=ts&_rdr', target='_blank')
            i.c-fsik__icon--facebook
        a.twitter(title='Twitter', href='https://twitter.com/THAIS_Maroc', target='_blank')
            i.c-fsik__icon--twitter
        a.linkedin(title='LinkedIn', href='https://www.linkedin.com/company-beta/10635970/', target='_blank')
            i.c-fsik__icon--linkedin