.o-nav.align-right.column
    - var navLevel0 = [{title : 'Accueil', url :'index.html'}, {title : 'Qui sommes nous ?', url :'actualites.html'}, {title : 'Produits', url :'catalogue-produits.html'}, {title : 'Documentation', url :'documentation.html'}, {title : 'Reporting', url :'reporting.html'}]
    - var navLevel1 = [[],['Groupe', 'Entreprise'], ['Epargne', 'Prévoyance', 'Multirisque habitation', 'Multirisque Professionnelle', 'Assistance'], ['Contrats','Proposition assurance', 'Bulletins'], ['Indicateurs']]

    ul.c-nav__level0
        each label0, indexI in navLevel0
            li(class='')
                - if(!navLevel1[indexI].length)
                    a(href=label0.url)= label0.title

                - else if(navLevel1[indexI].length)
                    a(aria-haspopup="true")= label0.title
                    .c-nav__show: span.c-fpca__icon--arrowRight

                    ul.c-nav__level1
                        li.c-nav__hide
                            span.c-fpca__icon--arrowLeft
                            span.c-text= label0

                        each label1 in navLevel1[indexI]
                            li: a(href="")= label1
        li.search
            .search-content
                form(action="" method="POST" id="search-field" name="search-field")
                    fieldset
                        .field.is-hidden
                            input(type="text" placeholder="Recherche..." name="search" id="search")
                        .field.cta-submit
                            button(type="submit" name="search-cta-submit")
                                span
                                    i.c-fpca__icon--search

.c-nav__icon: span

