  // ========================================= //
// config
// ========================================= //

// Vars
@import "vars/breakpoints";
@import "vars/colors";
@import "vars/colorsBranding";
@import "vars/fontFamily";
@import "vars/fontSize";
@import "vars/global";
@import "vars/sizes";
@import "vars/zIndex";

// breadcrumb
$breadcrumb--height : 40;
$breadcrumb--border : solid rem(1) #d7d7d7;
$breadcrumb--color : $black;
$breadcrumb--color--alt : $black;
$breadcrumb--fontfamily : $fontFamily;
$breadcrumb--fontsize : rem(13);

// alert
$alert--color : $white;
$alert--color--alt : $black;
$alert--fontfamily : $fontFamily;

// paginate
$paginate--padding : 30;
$paginate--background : $white;
$paginate--color : $black;
$paginate--fontfamily : $fontFamily;
$paginate--fontsize : 16;

// nav + offcanvas
$nav--height : 30;
$nav--item--level1--minWidth : 230;
$nav--background--active : $white;
$nav--color : $white;
$nav--color--active : $black;
$nav--fontfamily : $fontFamily;
$nav--fontsize : 18;
$nav--itemPadding : 0;
$nav--offcanvas--bp : 980;
$nav--icon--background : $black;

$offCanvas--offset--top : 0;
$offCanvas--width : 280;
$offcanvas--nav--item--height : 45;

// inputs
$input--border--color: rgba(0,0,0,0.2);
$input--border--width: 1;
$input--height: 48;
$input--margin: 24;
$input--background: $white;

$label--color: $black;
$label--fontfamily: $fontFamily;
$label--fontsize: 16;

$checkboxRadio--width: 14;
$checkboxRadio--background: $black;

$gototop--width: 40;
$gototop--bottom: 14;
$gototop--right: 14;
$gototop--background: $colorPrincipal;
$gototop--hover: $colorPrincipal;
$gototop--borderRadius: 2px;

// buttons
$button--height: 50;
$button--border--width: 1;
$button--border--type: solid;
$button--padding: 20;
$button--margin: 5;

$button--background: $mainBranding;
$button--border--color: darken($button--background, 20%);
$button--color: $white;
$button--border--color--hover: darken($button--background, 10%);
$button--background--hover: darken($button--background, 10%);
$button--color--hover: $white;

$button--background--alt: $subBranding;
$button--border--color--alt: darken($button--background--alt, 20%);
$button--color--alt: $black;
$button--border--color--alt--hover: darken($button--background--alt, 10%);
$button--background--alt--hover: darken($button--background--alt, 20%);
$button--color--alt--hover: $black;

// wysiwyg
$wysiwyg--fontbody : $fontFamily;
$wysiwyg--fonttitle : $fontFamily;
$wysiwyg--items--margin--bottom: 24;

$wysiwyg--h2--color: $black;
$wysiwyg--h3--color: $black;
$wysiwyg--h4--color: $black;
$wysiwyg--h5--color: $black;
$wysiwyg--h6--color: $black;
$wysiwyg--link--color: $black;
$wysiwyg--list--style--color: $black;
$wysiwyg--table--border--color: $black;
$wysiwyg--content--color: $black;
$wysiwyg--table--th--color: $white;

$wysiwyg--hr--background: $black;
$wysiwyg--table--th--background: $black;
