// ========================================= //
// import
// ========================================= //

// Tools
@import "tools/icons";
@import "tools/fontface";
@import "tools/breakpoints";
@import "tools/clearfix";
@import "tools/emRemConvert";
@import "tools/placeholder";
@import "tools/links";
@import "tools/keyframe";
@import "tools/keyframeList";
@import "tools/whitespace";
@import "tools/align";
@import "tools/grid";

// Config
@import "config";

// Libs

body{
  &.page-template-homePage{
    main{
      opacity: 0;
      transition: $ease;
    }
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    #loader-body {
      display: block;
      height: 100%;
      overflow: hidden;
      position: fixed;
      width: 100%;
      z-index: 9999999999;
      opacity: 1;
      -webkit-transition: all .35s ease-out;
      transition: all .35s ease-out;
      top: 0px;
      left: 0px;
    }
    &.loader{
      main{
        opacity: 1;
      }
      position: inherit;
      overflow: inherit;
      #loader-body {
        opacity: 0;
        z-index: -1;
      }
    }
  }

}
.load-wrap {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  .bg-load{
    position: absolute;
    background-image: url(/wp-content/uploads/2018/03/logo-thais.svg);
    background-color: #a71f58;
    -moz-background-size: 300px auto;
    background-size: 80%;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-position: center center;
    opacity: 1;
    border: 1px solid #fff;
    padding: 50px;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
  }
}
.load-wrap > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
#loader-body {
  background-color:#a71f58;
}
@import "../vendor/libs/normalize";
@import "../vendor/libs/sik__common";
@import "../vendor/libs/magnific-popup";
@import "../vendor/libs/swiper.min";
@import "../vendor/libs/slick";

// Blocks
@import "blocks/alerts";
@import "blocks/blocks";
@import "blocks/buttons";
@import "blocks/icons";
@import "blocks/inputs";
@import "blocks/labels";
@import "blocks/links";
@import "blocks/tables";
@import "blocks/typos";
@import "blocks/images";

// Modules
@import "modules/breadcrumb";
@import "modules/form";
@import "modules/search";
@import "modules/slider";
@import "modules/titles";
@import "modules/wysiwyg";
@import "modules/paginate";
@import "modules/tooltips";

// Components
@import "components/content";
@import "components/footer";
@import "components/header";
@import "components/section";
@import "components/ui";
@import "components/nav";
@import "components/navOffCanvas";
@import "components/slick";
@import "components/timeline";
@import "components/sitemap";

// Reset
@import "reset/sharepoint";
