// ========================================= //
// editor
// ========================================= //

// Tools
@import "tools/breakpoints";
@import "tools/clearfix";
@import "tools/emRemConvert";
@import "tools/placeholder";
@import "tools/links";
@import "tools/keyframe";
@import "tools/keyframeList";
@import "tools/whitespace";
@import "tools/align";

// Imports fonts

@font-face {
    font-family: "pca__common";
    src: url('../media/fonts/pca__common/pca__common.eot');
    src: url('../media/fonts/pca__common/pca__common.eot?#iefix') format('eot'),
    url('../media/fonts/pca__common/pca__common.woff') format('woff'),
    url('../media/fonts/pca__common/pca__common.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Config
@import "config";

// Modules
@import "modules/wysiwygContent";

// custom style
body {
    font-family: 'Lora', sans-serif;
}

ul.cke_panel_list li {
    padding-left: 0;
}

ul.cke_panel_list li:before {
    background: none;
    content: none;
}
